html {
    height: 100%;
    font-family: "FangSong";
    font-weight: lighter;
    display: block
}

body {
    max-width: 579.75px;
    width: 100%;
    height: 100%;
    margin: 0 auto
}

.section {
    background-color: #fff;

    background-size: 100% 100%;
    position: relative;
    overflow: hidden;

}


.clearfix:before, .clearfix:after {
    content: "";
    display: table
}

.clearfix:after {
    clear: both
}

.clearfix {
    *zoom: 1
}

.fl {
    float: left
}

.fr {
    float: right
}

.center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto
}






.sixth {

    background-size: 100% 100%;
    position: relative
}

.section img {
    position: absolute
}

._center {
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto
}

.section:first-child {
    z-index: 14;
    background-color: #f6fbfd;

}

.second img {
    display: inline-block
}
/*.cover{ width:100%; height:100%; background:url(../img/10.jpg) top no-repeat; background-size: 100% 100%}*/
.cover img.bg1{   width: 100%; height:100%;  	top:0;}
.cover img.wz{    width: 46%;    top:15%;    left:0;    opacity: 0;}
.cover img.nh{     opacity: 0;}
.cover img.lx{ width: 50%;bottom: 10%;left: 25%; display: none;}
.cover.current img.wz{    opacity: 1;    animation-duration: 2s;    animation-delay: 2s;    animation-iteration-count: 1;  -webkit-animation-duration: 2s;     -webkit-animation-delay: 2s;     -webkit-animation-iteration-count: 1;}
.cover.current img.nh{    opacity: 1;    animation-duration: 1s;    animation-delay: 1s;    animation-iteration-count: 1; -webkit-animation-duration: 1s;     -webkit-animation-delay: 1s;     -webkit-animation-iteration-count: 1;}
.cover.current img.qj{    animation-duration: 1s;    animation-delay: 2s;    animation-iteration-count: 1; -webkit-animation-duration: 1s;     -webkit-animation-delay: 2s;     -webkit-animation-iteration-count: 1;}


.cover img.qj{    width: 26%;    right:0%;    bottom:14%;}
.second img.qc{ width: 20%;bottom: 15%;left: 48%;}

.current .wl{	-webkit-animation-name:wl;animation-name:wl;	}
@keyframes wl
{

    0%{  bottom:15%;left:48%}
    10%{bottom:18%;left:26%}
    20%{bottom:23%;left:14%}
    30%{bottom:31%;left:6%}
    40%{bottom:41%;left:14%}
    50%{bottom:47%;left:26%}
    60%{bottom:53%;left:39%}
    70%{bottom:59%;left:50%}
    80%{bottom:66%;left:64%}
    90%{bottom:74%;left:69%}
    100%{bottom:78%;left:72%}
}
@-webkit-keyframes wl{

    0%{ bottom:15%;left:48%}
    10%{bottom:18%;left:26%}
    20%{bottom:23%;left:14%}
    30%{bottom:31%;left:6%}
    40%{bottom:41%;left:14%}
    50%{bottom:47%;left:26%}
    60%{bottom:53%;left:39%}
    70%{bottom:59%;left:50%}
    80%{bottom:66%;left:64%}
    90%{bottom:74%;left:69%}
    100%{bottom:78%;left:72%}
	}
 .second.current img.qc{
	  
       animation-duration: 4s;
    animation-delay: 1s;
    animation-iteration-count: 1;
     -webkit-animation-duration: 4s;
     -webkit-animation-delay: 1s;
     -webkit-animation-iteration-count: 1;
}


.section:nth-child(2) {
    z-index: 13;
    background-image: url("../img/21.jpg")  ;
    background-size: 100% 100%
}

.section:nth-child(3) {
    z-index: 12;
    background-image: url("../img/30.jpg")  ;
    background-size: 100% 100%
}
.third img{ opacity: 0;  }
.third img.lx{ width:25%; left:25%;top:27%}
.third img.py{ width:25%; right:25%;top:27%}
.third img.wz{width:90%;left:5%; top:60%}
.third img.qwz{ width:50%; left:0;bottom:2%}
.third img.qmm{ width:50%; right:0;bottom:0%}
 .third.current img.lx{	
 opacity: 1;  
       animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: 1;
     -webkit-animation-duration: 1s;
     -webkit-animation-delay: 1s;
     -webkit-animation-iteration-count: 1;
}
 .third.current img.py{	
 opacity: 1;  
       animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: 1;
     -webkit-animation-duration: 1s;
     -webkit-animation-delay: 1s;
     -webkit-animation-iteration-count: 1;
}
 .third.current img.wz{	
 opacity: 1;  
       animation-duration: 2s;
    animation-delay: 2s;
    animation-iteration-count: 1;
     -webkit-animation-duration: 2s;
     -webkit-animation-delay: 2s;
     -webkit-animation-iteration-count: 1;
}
 .third.current img.qwz{
	 opacity: 1;	  
       animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: 1;
     -webkit-animation-duration: 3s;
     -webkit-animation-delay: 2s;
     -webkit-animation-iteration-count: 1;
}
 .third.current img.qmm{
	 opacity: 1;	  
       animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: 1;
     -webkit-animation-duration: 3s;
     -webkit-animation-delay: 2s;
     -webkit-animation-iteration-count: 1;
}
 

.section:nth-child(4) {
    z-index: 11;
	 background-image: url("../img/40.jpg")  ;
    background-size: 100% 100%
}
.fourth img{ opacity: 0;  }
.fourth img.lx{ width:50%; right:0%;top:44%}
 
.fourth img.wz{width: 84%;    right: 6%;    top:41%;}
.fourth img.qwz{ width: 44%;    left: 0;    bottom: 25%;}
.fourth img.qmm{ width: 41%;    left: 12%;    bottom: 0%;}


.fourth.current img.lx{
    opacity: 1;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: 1;
}
.fourth.current img.wz{
    opacity: 1;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: 1;
}
.fourth.current img.qwz{
    opacity: 1;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    -webkit-animation-duration: 3s;
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: 1;
}
.fourth.current img.qmm{
    opacity: 1;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    -webkit-animation-duration: 4s;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: 1;
}


.fifth  img.first_bg{width: 100%;  height:100%; top:0;}
.fifth  img.first_wz{ width: 54%;    left: 10%;    top: 27%; opacity: 0;}


.sixth  img.sec_bg{ width: 100%; height:100%;  top:0; }
.sixth  img.sec_wz{width: 61%;    right: 7%;    top: 30%;opacity: 0;}
.sixth  img.sec_lx{ width: 44%;    left: 40%;    bottom: 0;opacity: 0;}


.seventh  img.third_bg{width: 100%;  height:100%; 	top:0; }
.seventh  img.wz{ width: 67%;    top: 2%;right:10%; opacity: 0; }
.seventh.current img.wz{
    opacity: 1;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: 1;
}

.eighth  img.for_bg{width: 100%;  	height:100%; top:0; }
.eighth  img.for_wz{ width: 80%;    left: 10%;    top: 10%;opacity: 0;}

.fifth.current img.first_wz{
    opacity: 1;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: 1;
}

.sixth.current img.sec_wz{
    opacity: 1;
    animation-duration: 1s;
    animation-delay:1s;
    animation-iteration-count: 1;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay:1s;
    -webkit-animation-iteration-count: 1;
}
.sixth.current img.sec_lx{
    opacity: 1;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: 1;
}


.eighth.current img.for_wz{
    opacity: 1;
    animation-duration: 1s;
    animation-delay:1s;
    animation-iteration-count: 1;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay:1s;
    -webkit-animation-iteration-count: 1;
}


.ninth  img.bg{width: 100%;    height:100%;	top:0;}
.ninth  img.qmm{ width: 59.1%;    left: 0%;    top: 0%; opacity: 0;}
.ninth  img.qwz{ width: 35%;    top: 4%; right:5%;opacity: 0;}
.ninth  img.lx{width: 37%;    opacity: 0;    bottom: 14%;    left: 33%;}
.ninth  img.lxw{ width: 80%;   left: 10%;    bottom: 2%;opacity: 0;}
.ninth  img.dd3{width: 30%;    top: 29%;    opacity: 0;    left: 3%;}
.ninth  img.dd4{width: 32%;    top: 46%;    opacity: 0;    right: 8%}
.ninth  img.dd2{width: 33%;    right: 17%;    top: 22%;opacity: 0;}
.ninth  img.dd1{width: 33%;    left: 2%;    top: 56%;opacity: 0;}
.ninth.current img.qmm{
    opacity: 1;
    animation-duration: 1s;
    animation-delay:1s;
    animation-iteration-count: 1;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay:1s;
    -webkit-animation-iteration-count: 1;
}
.ninth.current img.qwz{
    opacity: 1;
    animation-duration: 1s;
    animation-delay:1s;
    animation-iteration-count: 1;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay:1s;
    -webkit-animation-iteration-count: 1;
}
.ninth.current img.lx{
    opacity: 1;
    animation-duration: 1s;
    animation-delay:2s;
    animation-iteration-count: 1;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay:2s;
    -webkit-animation-iteration-count: 1;
}
.ninth.current img.lxw{
    opacity: 1;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-iteration-count: 1;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 3s;
    -webkit-animation-iteration-count: 1;
}
.ninth.current img.dd3{
    opacity: 1;
    animation-duration: 1s;
    animation-delay: 5s;
    animation-iteration-count: 1;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 5s;
    -webkit-animation-iteration-count: 1;
}
.ninth.current img.dd4{
    opacity: 1;
    animation-duration: 1s;
    animation-delay: 7s;
    animation-iteration-count: 1;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 7s;
    -webkit-animation-iteration-count: 1;
}
.ninth.current img.dd2{
    opacity: 1;
    animation-duration: 1s;
    animation-delay:4s;
    animation-iteration-count: 1;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay:4s;
    -webkit-animation-iteration-count: 1;
}
.ninth.current img.dd1{
    opacity: 1;
    animation-duration: 1s;
    animation-delay:6s;
    animation-iteration-count: 1;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay:6s;
    -webkit-animation-iteration-count: 1;
}
.tenth  img.bg{width: 100%;  height:100%; 	top:0;}
.tenth  img.qmm{ width: 82%;    right: 0%;    top: 0%; opacity: 0;}
.tenth .wrap{position: absolute; width: 100%; height:100%;top:0;}
.tenth .wrap ul{ width: 1000%;height:100%;opacity: 0;}
.tenth .wrap ul li{ width: 10%; height: 100%; float: left;}
.tenth .wrap ul li img{ width: 100%;}
.tenth.current img.qmm{
    opacity: 1;
    animation-duration: 1s;
    animation-delay:1s;
    animation-iteration-count: 1;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay:1s;
    -webkit-animation-iteration-count: 1;
}

.ele  img.bg{width: 100%;  height:100%; 	top:0;}
.ele .dt{ width: 90%;    position: absolute;    top: 21%;    height: 70%;    left: 5%;    background: #fff;  }
.ele .dt::-webkit-scrollbar {
    display: none;
}
.ele .tit{ text-align: center; font-weight: bold; font-size: 20px; color:#fff; height:40px; line-height: 40px; background:#b21212; font-family:  "Microsoft YaHei" }
.ele ul { padding: 10px;font-family:  "Microsoft YaHei" }
.ele ul li{ margin-bottom: 10px;}
.ele h3 { font-size: 17px; color:#da2625; margin: 20px auto; line-height: 1.3em;}
.ele h3 span{ color:#ae0606; font-size:18px;}
.ele ul li span.sele{position: relative; padding-left: 27px; color:#333333; font-size: 16px; width: 40%; float:left; margin: 10px auto;}
.ele ul li img{ position: absolute; left:0;}
.ele ul li:nth-child(3) span.sele,.ele ul li:nth-child(6) span.sele,.ele ul li:nth-child(7) span.sele{width: 90%;  }
.thir img.bg,.twe img.bg{   width: 100%; height:100%;  	top:0;}

.twe img.wz{    width: 66%;    right: 6%;    top: 5%; opacity: 0;}

.twe.current img.wz{
    opacity: 1;
    animation-duration: 1s;
    animation-delay:1s;
    animation-iteration-count: 1;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay:1s;
    -webkit-animation-iteration-count: 1;
}
.thir img.wz{    width: 70%;   left: 15%;  top: 5%; opacity: 0;}
.thir img.lx{width: 30%;    left:35%;    top: 25%; opacity: 0;}
.thir img.ewm{width: 40%;    left:30%;    bottom: 2%; opacity: 0;}
.thir.current img.wz{
     opacity: 1;
     animation-duration: 1s;
     animation-delay:1s;
     animation-iteration-count: 1;
     -webkit-animation-duration: 1s;
     -webkit-animation-delay:1s;
     -webkit-animation-iteration-count: 1;
 }
.thir.current img.lx{
    opacity: 1;
    animation-duration: 1s;
    animation-delay:2s;
    animation-iteration-count: 1;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay:1s;
    -webkit-animation-iteration-count: 1;
}
.thir.current img.ewm{
    opacity: 1;
    animation-duration: 1s;
    animation-delay:3s;
    animation-iteration-count: 1;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay:3s;
    -webkit-animation-iteration-count: 1;
}
.zq{display: none;}
.zz{ background: url(../img/83.png); background-size: 100% 100%; position: absolute; top:0; width: 100%; height:100%;display: none;}
.da { width: 80%; top:35%; position: absolute; left:10%; display: none;font-family:  "Microsoft YaHei"}
.da img{ width: 100%;}
.da span{ position: absolute;    display: block;padding-top: 20%;    padding-left: 65%;   font-size: 30px;}
.da p{font-size: 16px;    width: 90%;    padding-top: 34%;    position: absolute;    padding-left: 5%;    line-height: 1.2em;}

._music {
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000
}