* {margin: 0;padding: 0;}
body,html{margin: 0;padding: 0;-webkit-font-smoothing: antialiased;font-family: "Microsoft YaHei";}
ul,li,p, h1, h2, h3,form {margin: 0;padding: 0;list-style-type: none;}
a {text-decoration: none;color: #666666;}
a:link,a:visited,a:hover,a:active {text-decoration: none;}
html, body {position: relative;height: 100%;}
a, input {  margin: 0;  padding: 0;  outline: none;  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);}

.ui-loader-default{ display:none}
.ui-mobile-viewport{ border:none;}
.ui-page {padding: 0; margin: 0; outline: 0}

.zindex {  position: absolute;  width: 100%;  height: 100%;  background-color: white;  z-index: 999;}
.zindex .index {  width: 200px;  height: auto;  overflow: hidden;  position: absolute;  top: 50%;  left: 50%;  transform: translate(-50%, -50%);  -webkit-transform: translate(-50%, -50%);  text-align: center;}
.zindex .index .logo {  width: 100%;}
.zindex .index .logo img {  width: 100%;}
.zindex .index .loadimg {  width: 100%;  height: 100%;  position: absolute;  left: 0;  top: 0;  z-index: 1;}
.zindex .index .loading {  text-align: center;  line-height: 158px;  width: 100%;  height: 100%;  color: black;  font-weight: bold;  position: absolute;  left: 0;  top: 0;  z-index: 2;}
.zindex .index .load {  width: 158px;  height: 158px;  margin: 0 auto;  margin-top: 30px;  position: relative;}


.swiper-container {
  width: 100%;
  height: 100%;
}




.home{ background: url(../images/home.jpg) no-repeat; background-size: 100%; position: relative; }

.home img{ max-width: 80%; margin: 0 auto; display: block; width: 100%; 
    position: absolute; left: 10%;
/*   -webkit-transform: translate(-50%);
   -ms-transform: translate(-50%);
   -o-transform: translate(-50%);
   transform: translate(-50%);*/
}

.home > img:nth-child(1){ top: 22%;}
.home a:nth-child(2) img{ top: 57%;}
.home a:nth-child(3) img{ top: 65%;}
.home a:nth-child(4) img{ top: 73%;}
.home a:nth-child(5) img{ top: 81%;}

.page1, .page2{ background: url(../images/page1-1.jpg) no-repeat; background-size: 100%; 
   position: relative;}

.page1 img, .page2 img, .page3 img, .page4 img, .page5 img, .page6 img{ max-width: 85%; position: absolute; left: 5%; top: 11.5%;
   /*-webkit-transform: translate(-50%);
   -ms-transform: translate(-50%);
   -o-transform: translate(-50%);
   transform: translate(-50%);*/
}

.toHome{ width: 30px; height: 30px; display: inline-block; position: absolute; right: 5%; bottom: 3%;
   background: url(../images/home-icon.png) no-repeat left top; background-size: 100%; }

.page1 img:nth-child(2){ top: 25%; max-width: 66%; left: 5%;}
.page1 img:nth-child(3){ top: 33%; max-width: 45%; left: 48%;}
.page1 img:nth-child(4){ top: 62%; max-width: 75%; left: 8%;}


.page2, .page3, .page4, .page6{ background: url(../images/page1-1.jpg) no-repeat; background-size: 100%; 
   position: relative;}

.page2 img:nth-child(2){ top: 23%; max-width: 65%; left: 16%;}
.page2 img:nth-child(3){ top: 64%; max-width:78%; left: 10%;}


.page3 img:nth-child(2){ top: 25%; max-width: 72%; left: 16%;}
.page3 img:nth-child(3){ top: 65%; max-width: 84%; left: 10%;}

.page4 img:nth-child(1){ top: 12%; max-width: 40%; left: 5%;}
.page4 img:nth-child(2){ top: 25%; max-width: 72%; left: 18%;}
.page4 img:nth-child(3){ top: 59%; max-width: 86%; left: 8%;}

.page5{ background: url(../images/page1-1.jpg) no-repeat; background-size: 100%; 
   position: relative;}
.page5 img:nth-child(1){ top: 12%; max-width: 50%; left: 5%;}
.page5 img:nth-child(2){ top: 22%; max-width: 43%; left: 53%;}
.page5 img:nth-child(3){ top: 65%; max-width: 60%; left: 22%;}

.page6 img:nth-child(2){ top: 28%; max-width: 75%; left: 17%;}
.page6 img:nth-child(3){ top: 57%; max-width: 82%; left: 10%;}






.page2-1,.page2-2,.page2-3,.page2-4,.page2-5{ background: url(../images/1-3.jpg) no-repeat; background-size: 100%; 
   position: relative;}
.page2-1 img,.page2-2 img,.page2-3 img,.page2-4 img,.page2-5 img{ position: absolute; }
.page2-1 .toHome,.page2-2 .toHome,.page2-3 .toHome,.page2-4 .toHome,.page2-5 .toHome{
   left: 5%;
}

.page2-1 img:nth-child(1){ top: 20%; max-width: 38%; left: 4%;}
.page2-1 img:nth-child(2){ top: 39%; max-width: 82%; left: 8%;}

.page2-2 img:nth-child(1){ top: 13%; max-width: 88%; left: 4%;}
.page2-2 img:nth-child(2){ top: 30%; max-width: 82%; left: 8%;}
.page2-2 img:nth-child(3){ top: 67%; max-width: 82%; left: 8%;}

.page2-3 img:nth-child(1){ top: 13%; max-width: 88%; left: 4%;}
.page2-3 img:nth-child(2){ top: 45%; max-width: 82%; left: 8%;}

.page2-4 img:nth-child(1){ top: 13%; max-width: 88%; left: 4%;}
.page2-4 img:nth-child(2){ top: 27%; max-width: 74%; left: 13%;}
.page2-4 img:nth-child(3){ top: 62%; max-width: 74%; left: 20%;}

.page2-5 img:nth-child(1){ top: 13%; max-width: 88%; left: 4%;}
.page2-5 img:nth-child(2){ top: 29%; max-width: 64%; left: 5%;}
.page2-5 img:nth-child(3){ top: 56%; max-width: 78%; left: 15%;}
.page2-5 .toHome{ left: 4%; }



.page3-1,.page3-2,.page3-3,.page3-4,.page3-5,.page3-6{ background: url(../images/1-4.jpg) no-repeat; background-size: 100%; 
   position: relative;}
.page3-1 img,.page3-2 img,.page3-3 img,.page3-4 img,.page3-5 img,.page3-6 img{ position: absolute; }
.page3-1 img:nth-child(1){ top: 12%; max-width: 69%; left: 5%;}
.page3-1 img:nth-child(2){ top: 25%; max-width: 69%; left: 15%;}
.page3-1 img:nth-child(3){ top: 56%; max-width: 78%; left: 15%;}

.page3-2 img:nth-child(1){ top: 12%; max-width: 59%; left: 5%;}
.page3-2 img:nth-child(2){ top: 25%; max-width: 69%; left: 15%;}
.page3-2 img:nth-child(3){ top: 59%; max-width: 78%; left: 9%;}

.page3-3 img:nth-child(1){ top: 12%; max-width: 85%; left: 5%;}
.page3-3 img:nth-child(2){ top: 28%; max-width: 86%; left: 9%;}
.page3-3 img:nth-child(3){ top: 51%; max-width: 78%; left: 15%;}

.page3-4 img:nth-child(1){ top: 12%; max-width: 85%; left: 5%;}
.page3-4 img:nth-child(2){ top: 28%; max-width: 65%; left: 18%;}
.page3-4 img:nth-child(3){ top: 60%; max-width: 78%; left: 15%;}

.page3-5 img:nth-child(1){ top: 12%; max-width: 50%; left: 5%;}
.page3-5 img:nth-child(2){ top: 28%; max-width: 65%; left: 18%;}
.page3-5 img:nth-child(3){ top: 60%; max-width: 76%; left: 9%;}

.page3-6 img:nth-child(1){ top: 12%; max-width: 59%; left: 5%;}
.page3-6 img:nth-child(2){ top: 28%; max-width: 65%; left: 18%;}
.page3-6 img:nth-child(3){ top: 60%; max-width: 76%; left: 15%;}


.page4-1,.page4-2,.page4-3,.page4-4,.page4-5,.page4-6{ background: url(../images/1-6.jpg) no-repeat; background-size: 100%; 
   position: relative;}
.page4-1 img,.page4-2 img,.page4-3 img,.page4-4 img,.page4-5 img,.page4-6 img{ position: absolute; }
.page4-1 img:nth-child(1){ top: 13%; max-width: 50%; left: 43%;}
.page4-1 img:nth-child(2){ top: 30%; max-width: 68%; left: 15%;}
.page4-1 img:nth-child(3){ top: 58%; max-width: 78%; left: 14%;}

.page4-2 img:nth-child(1){ top: 13%; max-width: 58%; left: 41%;}
.page4-2 img:nth-child(2){ top: 33%; max-width: 77%; left: 11%;}
.page4-2 img:nth-child(3){ top: 64%; max-width: 78%; left: 14%;}

.page4-3 img:nth-child(1){ top: 13%; max-width: 58%; left: 41%;}
.page4-3 img:nth-child(2){ top: 33%; max-width: 77%; left: 11%;}
.page4-3 img:nth-child(3){ top: 65%; max-width: 80%; left: 14%;}

.page4-4 img:nth-child(1){ top: 13%; max-width: 58%; left: 41%;}
.page4-4 img:nth-child(2){ top: 27%; max-width: 77%; left: 11%;}
.page4-4 img:nth-child(3){ top: 62%; max-width: 73%; left: 23%;}

.page4-5 img:nth-child(1){ top: 13%; max-width: 58%; left: 41%;}
.page4-5 img:nth-child(2){ top: 25%; max-width: 77%; left: 11%;}
.page4-5 img:nth-child(3){ top: 62%; max-width: 73%; left: 23%;}

.page4-6 img:nth-child(1){ top: 13%; max-width: 58%; left: 41%;}
.page4-6 img:nth-child(2){ top: 27%; max-width: 77%; left: 9%;}
.page4-6 img:nth-child(3){ top: 57%; max-width: 81%; left: 15%;}
.page4-6 .toHome{ left: 4%; }
