*{margin: 0;padding: 0;}
html,body{
	height: 100%;
	width: 100%;

}
.wp{
	height: 100%;
	overflow: hidden;
}
html{
	font-size: 16px;
}
#page1,#page2,#Q1,#wrong,#Q2,#Q3,#Q4,#Q5,#Q6,#Q7,#Q8,#Q9,#Q10,#final-page{
	height: 100%;
	width: 100%;
	background-size: 100%;
	position: relative;
}

#page1{
	background: url("../images/bg01.jpg");
	background-size: 100%;
	position: relative;
}
#page1 .logo{
	max-width: 50%;
	position: absolute;
	left: 25%;
	top: 8%;
}
#page1 .p1-01{
	max-width: 92%;
	position: absolute;
	left:5%;
	top: 53%;
}
.bounceIn{opacity: 0;}
.cur .bounceIn{
	opacity: 1;
	-webkit-animation: bounceIn 1.2s forwards ;
       		animation: bounceIn 1.2s forwards ;
}

@-webkit-keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

#page1 .p1-02{
	max-width: 20%;
	position: absolute;
	left:70%;
	top: 70%;
}



#page2,#final-page{
	background: url("../images/bg02-1.jpg");
	background-size: 100%;
	position: relative;
}

#page2 span,#final-page span{
	display: block;
	text-align: center;
	font-size: 20px;
	color:#ffd96b;
	letter-spacing:2px;
	line-height: 20px;

}

 .fadeIn {
        opacity: 0;
        }
.cur .fadeIn {
        opacity: 1;
       -webkit-animation: fadeIn 1s forwards;
       		   animation: fadeIn 1s forwards;
        }
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}


#final-page span{
	line-height: 15px;
}
#page2 div{
	position: absolute;
	top: 13%;
	left: 10%;
}
#final-page div{left: 8%; top: 5%;position: absolute;}
#page2 #start{
	max-width: 30%;
	position: absolute;
	left:36%;
	top: 67%;
}
#page2 .down{
	max-width: 5%;
	position: absolute;
	left:49%;
	top: 78%;
}

 .fadeInDown {
        opacity: 0;
        }
.cur .fadeInDown {
        opacity: 1;
       -webkit-animation: fadeInDown 1s forwards infinite;
       		   animation: fadeInDown 1s forwards infinite;
        }
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -15%, 0);
    transform: translate3d(0, -15%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -15%, 0);
    transform: translate3d(0, -15%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}




#Q1,#Q2,#Q3,#Q4,#Q5,#Q6,#Q7,#Q8,#Q9,#Q10{
	background: url("../images/bg02-1.jpg");
	background-size: 100%;
	position: relative;
}
.question-bg{
	max-width: 90%;
	position: absolute;
	left: 5%;
	top: 1%;
	z-index: 0;
}
h1{
	color: #4b9541;
	position: absolute;
	left: 8.1%;
	top: 2.7%;
	z-index: 1;
}
p{
	color: #4b9541;
	position: absolute;
	font-size: 20px;
	left: 23%;
	top: 6%;
	z-index: 2;
}
#Q1 div,#Q5 div,#Q7 div{
	width: 90%;
	height: 46%;
	background: #ffd96c;
	top: 24%;
	left: 5%;
	border-radius: 15px;
	position: absolute;
}
#Q1 div form{
	position: absolute;
	left: 8%;
	top: 6%;
}
label{
	font-size: 20px;
	color: #4b9541;
	line-height: 40px;
	margin-left: 10px;

}
.send{
	background: url("../images/send.png")no-repeat;
	background-size: 100%;
	width: 100px;
	height: 38px;
	font-size: 20px;
	color: #4b9541;
	border: none;
	position: absolute;
	left: 35%;
	top: 115%;
}
#bottomImg{
	position: absolute;
	left: 0;
	max-width: 100%;
	top: 80%;
	z-index: 3;
}
.people{
	position: absolute;
	max-width: 57%;
	top: 73%;
	left: 26%;
}


#Q2 .people{left: 44%;top: 62%;max-width: 45%;}
.question div{
	width: 90%;
	height: 34%;
	background: #ffd96c;
	top: 28%;
	left: 5%;
	border-radius: 15px;
	position: absolute;
}
#Q2 #send2,#Q3 #send3,#Q4 #send4{top: 115%;left: 35%;}
.question form{
	position: absolute;
	left: 8%;
	top: 6%;}
.question form input{
	margin: 20px 0 0 10px;
}

.Q3_01,.Q3_02,.Q3_03,.Q6_01,.Q6_02,.Q6_03,.Q10_01,.Q10_02,.Q10_03{
	max-width: 25%;
	position: absolute;
	top: 66%;
}
#Q3 .Q3_01{left: 8%;}
#Q3 .Q3_02{left: 38%}
#Q3 .Q3_03{left: 68%;max-width: 28%;top: 65.5%;}

#Q4 .Q4_01{max-width: 100%;position: absolute; top: 63%;z-index: 0}
#Q4 form{left: 5%;}
#Q4 #send4{left: 36%;}


#Q5 .Q5_01{max-width: 40%;position: absolute;left: 30%;top: 70%;}
#Q5 #send5{left: 45%;top: 90%;}


#Q6 form input{
	margin-left: 50px;
}
#Q6 #send6{left: 20%;top: 115%;}
#Q6 .Q6_01{left: 8%;}
#Q6 .Q6_02{left: 38%; top:65.5%;}
#Q6 .Q6_03{left: 68%;top: 67.5%;}




#Q7 .Q7_01{max-width: 100%;position: absolute;left: 0;top: 74%;}
#Q7 #send7{left: 48%;top:90%;}
#Q7 div{
	margin-top: 10px;
}


#Q8 .Q8_01{max-width: 68%;position: absolute;left: 21%;top: 63%;}
#Q8 #send8{left: 33%;top: 115%;}

#Q9 .Q9_01{max-width: 90%;position: absolute;left: 6%;top: 65%;}
#Q9 #send9{left: 30%;top: 110%;}

#Q10 .Q10_01{left: 8%;max-width: 28%; top: 64.5%;}
#Q10 .Q10_02{left: 38%}
#Q10 .Q10_03{left: 68%;top: 66%;}
#Q10 input{margin-left: 20px;}
#Q10 #send10{left: 30%;}
#Q10 h1{font-size: 28px;left: 6.5%;top: 3.5%;}

#final-page .finalImg{max-width: 50%;position: absolute;left: 25%;top: 43%;}
#final-page .erweima{max-width: 25%;position: absolute;left:13%;top:80%;}
#final-page p{top: 85%;left: 41%;color: #ffd96b;font-size: 14px;text-align: center;}

.hide{display: none;}
.right{width: 100px;height: 100px; background: pink;}
#wrong{
	background: url("../images/bg02-1.jpg");
	background-size: 100%;
	position: relative;
}

#w1 img{
	max-width: 90%;
	position: absolute;
	left: 5%;
	top: 8%;
}
#w1 .p1{
	top: 27%;
	left: 33%;
}
#w1 .p2{
	top: 37%;
	left: 12%;
}
#next1,#next2,#next3,#next4,#next5,#next6,#next7,#next8,#next9,#next10{
	position: absolute;
	left: 36%;
	top: 65%;
}

@media screen and (max-width: 320px){
	html span,html p,html label{font-size: 12px;}
	#next1{top: 55%;}
}




