h3,h3 span{
    color:#775100;
}
#localNav {
	border-bottom: solid 2px #C1C1C1;
}
#mainContent ul.list6{
    margin: 20px 10px 20px 70px;
}
#mainContent ul.list6 li{
	position:relative;
}
#mainContent ul.list6 li span.date {
color: #999;
    font-size: 14px;
  position: absolute;
  right: 0;
  line-height: 2.2em;
}
.bottomGap{
    margin-bottom: 25px;
}
#commBlock3 h3,#commBlock4 h3{
    margin-top: 30px;
}


/* Large desktop */
@media (min-width: 1200px) { 
#localNav .navbar .nav li {
    margin-left: 12px;
}
}
/* desktop */
@media (min-width: 979px) and (max-width: 1199px) {
    #localNav .navbar .nav li {
    margin-left: 9px;
}
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
#localNav .navbar .nav li {
    margin-left: 2px;
}
	#mainContent ul.list6{
		margin-left:20px;
	}
	.list6 li a{
		font-size:14px;
		line-height:1.8em;
	}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
#mainContent ul.list6{
		margin-left:20px;
	}
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	#mainContent ul.list6 li span.date {
	  display:none;
	}
}