@charset "utf-8";
a:hover,a:focus{ text-decoration: none;}

ul li{ width: 25%; float: left; text-align: center; cursor: pointer;}
ul li .small{ width: 98%;}
.big {display: none;position: relative; }
.big img{ width: 100%;}
.big1{position: absolute;    left: 0;    top: 0;}
.big2{position: absolute;    right: 0;    top: 0;}
.big3{position: absolute;   left:0;bottom:0}
.big4{position: absolute;   right:0;bottom:0}
.top{position: absolute; left:0; top:0; width: 100%;}
ul li p{ text-align: center; font-size: 14px; margin-top: 5px;}

 /* Large desktop */
@media (min-width: 1200px) {
    .container {  width:1200px; min-width: 1200px; }
    .span12 {width: 1200px; }
    .span11 {width: 1070px; }
    .span10 {width: 970px;  }
    .span9 { width: 870px; }
    .span8 { width: 770px; }
    .span7 { width: 670px; }
    .span6 { width: 570px; }
    .span5 { width: 470px; }
    .span4 {width: 370px;   }
    .span3 {width: 270px;  }
    .span2 {width: 170px;  }
    .span1 {width: 70px;  }



}
/* desktop */
@media (min-width: 979px) and (max-width: 1199px) {
    .container,#localNav,#channelNav,.footer{ width:1200px;}

    .span12 {width: 1200px; }
    .span11 {width: 1070px; }
    .span10 {width: 970px;  }
    .span9 { width: 870px; }
    .span8 { width: 770px; }
    .span7 { width: 670px; }
    .span6 { width: 570px; }
    .span5 { width: 470px; }
    .span4 {width: 352px;  }
    .span3 {width: 270px;  }
    .span2 {width: 170px;  }
    .span1 {width: 70px;  }
    li {line-height: 34px; }


}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .container,#localNav,#channelNav,.footer{ width:1200px;}
    .lm4 ul li {  line-height: 20px;    }
    .span12 {width: 1170px;    }
    .span11 { width: 1070px;    }
    .span10 {width: 970px;    }
    .span9 {width: 870px;    }
    .span8 { width: 770px;    }
    .span7 { width: 670px;    }
    .span6 { width: 570px;    }
    .span5 {width: 470px;    }
    .span4 {width: 370px;    }
    .span3 { width: 270px;    }
    .span2 {width: 170px;    }
    .span1 {width: 70px;    }
    li { line-height: 34px;    }


}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

    .row{ margin-left: 2%; margin-right: 2%;}
    body, .banner{   background:none;width: 100%;height: auto;}
    .container{ width: 100%;}
    .wrap{margin-top: 0px;}
    #row1 .span8{ margin-left: 0}
    #row1 {  margin-top: 5px;}
    #row1 .f ,#row1 .span4.sec{ margin-left: 0px;    }
    #row1 .f .ewm{display: block;position: static;}
    #row1 .span4.sec .list { text-align: left;    }
    #row1 .span4.sec .list a{ margin-left: 40px;}
    #row2 .row2_down .span8 { width: 100%;   }
    #row2 .row2_down .span8 .wrap{ border:none;padding-top: 0; padding-bottom: 0;}
    #row2 .span12.row2_down{ margin-top: 49px;margin-left: 0px; padding: 0 ;  width: 100%;     }
    #row2 .row2_down .span8 ul li {   float: left;   width: 31%;   margin-left: 2%;    }
    #row2 .row2_down .span4 {   margin-left: 0;    width: 100%; margin-top: 15px;}
    #row3 .list5 li{ width: 100%;}
    #row3 .list5 li + li {  margin-left:0px; }
    #row2 .span12, #row3 .span12{margin-left: 0;}
    #row3 .list5{margin-top:45px;}
    #row3 .list5 li .left{ width:36%   }
    #row3 .list5 li .right { width:64%;height: 214px;    }
    #row3 .list5 li .right img{height: 214px;  }
    .link{height: auto; height: 257px;}
    .link .left{ float: none;margin-left: 2%;}
    .link .right{ float: none; width: 98%; margin-left: 0; margin-top: 15px; margin-left: 2%}
    .link .right ul li{ width:50%;}
    .footer .container{ width: 96%; margin-left: 2%;}
    .phone_ewm{margin-left: 2%;margin-right: 2%; margin-bottom: 15px;}
    #localNav .navbar .nav li{ width: 30%;}
    .navbar .nav > li > a {   font-size: 14px;      padding: 5px 5px 5px;    }
    }
    /* Landscape phones and down */
@media (max-width: 480px) {

    .row{ margin-left: 2%; margin-right: 2%;}

}

