* {margin: 0; padding: 0; }
body {margin: 0; padding: 0; }
html {margin: 0; padding: 0; }
ul {margin: 0;padding: 0; }
li {margin: 0;padding: 0;list-style: none; }
p, h1, h2, h3 {margin: 0;padding: 0; }
form {margin: 0; padding: 0; }
html, body {position: relative; height: 100%;}
.swiper-container {width: 100%; height: 100%;}


.zindex {  position: absolute;  width: 100%;  height: 100%;  background-color: white;  z-index: 999;}
.zindex .index {  width: 100%;  height: auto;  overflow: hidden;  position: absolute;  top: 50%;  left: 50%;  transform: translate(-50%, -50%);  -webkit-transform: translate(-50%, -50%);  text-align: center;}
.zindex .index .logo {  width: 100%;}
.zindex .index .logo img {  width: 50%;}
.zindex .index .loadimg {  width: 100%;  height: 100%;  position: absolute;  left: 0;  top: 0;  z-index: 1;}
.zindex .index .loading {  text-align: center;  line-height: 158px;  width: 100%;  height: 100%;  color: black;  font-weight: bold;  position: absolute;  left: 0;  top: 0;  z-index: 2;}
.zindex .index .load {  width: 158px;  height: 158px;  margin: 0 auto; /* margin-top: 30px;*/  position: relative;}
.loadnum{ font-size: 20px; }

.home{
  background: url(../images/bg.jpg) 0 0;
  background-size: 100%;
  position: relative;
}

.home img{ position: absolute; }
.home> img { width: 100%; }

.cloud{ width: 35% !important; }
.cloud1{ top: 48%; left: -10%; }
.cloud2{ top: 58%; right: 10%; }
.cloud3{ top: 43%; right: -10%; }


.light1{
  opacity: 0;
  -webkit-animation: light1 2s linear infinite;
}

.light2{
  opacity: 0;
  animation: light1 2s 1s linear infinite;
  -webkit-animation: light1 2s 1s linear infinite;
}
@keyframes light1{
  0%{ opacity: 0 }
  50%{ opacity: 1 }
  100%{ opacity: 0 }
}
-webkit-@keyframes light1{
  0%{ opacity: 0 }
  50%{ opacity: 1 }
  100%{ opacity: 0 }
}


.swiper-slide-active .text1{
  opacity: 0;
  animation: text1 2s 1s linear;
  -webkit-animation: text1 2s 1s linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
@keyframes text1{
  0%{ opacity: 0; }
  100%{ opacity: 1; }
}
-webkit-@keyframes text1{
  0%{ opacity: 0; }
  100%{ opacity: 1; }
}

.swiper-slide-active .yue{
  opacity: 0;
  top: -20px;
  animation: yue .8s 1.2s linear;
  -webkit-animation: yue .8s 1.2s linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
@keyframes yue{
  0%{ opacity: 0;top: -20px; }
  100%{ opacity: 1; top: 0;}
}
-webkit-@keyframes yue{
  0%{ opacity: 0;top: -20px; }
  100%{ opacity: 1; top: 0;}
}


.swiper-slide-active .jia{
  opacity: 0;
  top: 20px;
  z-index: 9;
  animation: jia .8s 1.6s linear;
  -webkit-animation: jia .8s 1.6s linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
@keyframes jia{
  0%{ opacity: 0; top: 20px; }
  100%{ opacity: 1; top: 0;}
}
-webkit-@keyframes jia{
  0%{ opacity: 0; top: 20px; }
  100%{ opacity: 1; top: 0;}
}



.swiper-slide-active .cloud1{
  animation: cloud1 23s  linear;
  -webkit-animation: cloud1 23s  linear;
  z-index: 7;
}

@keyframes cloud1{
  0%  { left: -10% }
  100%{ left: 100%; }
}
-webkit-@keyframes cloud1{
  0%  { left: -10% }
  100%{ left: 100%; }
}


.swiper-slide-active .cloud2{
  animation: cloud2 23s  linear;
  -webkit-animation: cloud2 23s  linear;
  z-index: 7;
}

@keyframes cloud2{
  0%  { right: 10% }
  100%{ right: 100%; }
}
-webkit-@keyframes cloud2{
  0%  { right: 10% }
  100%{ right: 100%; }
}

.swiper-slide-active .cloud3{
  animation: cloud3 30s  linear;
  -webkit-animation: cloud3 30s  linear;
  z-index: 6;
}

@keyframes cloud3{
  0%  { right: -10% }
  100%{ right: 100%; }
}
-webkit-@keyframes cloud3{
  0%  { right: -10% }
  100%{ right: 100%; }
}


.swiper-slide-active .rabbit1{
  animation: rabbit1 1s  linear;
  -webkit-animation: rabbit1 1s  linear;
  z-index: 9;
}

@keyframes rabbit1{
  0%  { right: -40% }
  100%{ right: 0; }
}
-webkit-@keyframes rabbit{
  0%  { right: -40% }
  100%{ right: 0; }
}

.swiper-slide-active .rabbit2{
  left: -40%;
  animation: rabbit2 1s .4s linear;
  -webkit-animation: rabbit2 1s .4s linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  z-index: 9;
}

@keyframes rabbit2{
  0%  { left: -40% }
  100%{ left: 0; }
}
-webkit-@keyframes rabbit{
  0%  { left: -40% }
  100%{ left: 0; }
}

.down{ 
  width: 8% !important;
  transform: translate(-50%, -50%);
  left: 50%;
  bottom: 5%;
  opacity: 0;
  animation: down 2s .4s linear infinite;
  -webkit-animation: down 2s .4s linear infinite;
}

@keyframes down{
  0%  { opacity: 0; }
  50%{ opacity: 1; }
  100%  { opacity: 0; }
}
-webkit-@keyframes down{
  0%  { opacity: 0; }
  50%{ opacity: 1; }
  100%  { opacity: 0; }
}



.page{
  background: url(../images/bg2.jpg);
  background-size: 100%;
}
.p1 img{ width: 100%; position: absolute; }

.p1 .btn{ width: 40%; }

.p1 .btn1{ top: 28%; left: 0; }
.p1 .btn2{ top: 28%; right: 0; }
.p1 .btn3{ top: 48%; left: 0; }
.p1 .btn4{ top: 48%; right: 0; }
.p1 .btn5{ top: 68%; left: 0; width: 100%;}


.p2 img, .p3 img, .p4 img, .p5 img, .p6 img{ position: absolute; width: 100%; }



.return{
  width: 20% !important;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  bottom: 10%;
}


.swiper-slide-active .circle2{ 
  opacity: 0;
  animation: fadeIn 1s .4s linear;
  -webkit-animation: fadeIn 1s .4s linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
.swiper-slide-active .p3-1{ 
  opacity: 0;
  animation: fadeIn 1s 1.4s linear;
  -webkit-animation: fadeIn 1s 2s linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
.swiper-slide-active .p3-2{ 
  opacity: 0;
  animation: fadeIn 1s 2.4s linear;
  -webkit-animation: fadeIn 1s 3.5s linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
.swiper-slide-active .p3-3{ 
  opacity: 0;
  animation: fadeIn 1s 3.4s linear;
  -webkit-animation: fadeIn 1s 5s linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
.swiper-slide-active .p3-4{ 
  opacity: 0;
  animation: fadeIn 1s 4.4s linear;
  -webkit-animation: fadeIn 1s 6.5s linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
.swiper-slide-active .p3-5{ 
  opacity: 0;
  animation: fadeIn 1s 5.4s linear;
  -webkit-animation: fadeIn 1s 8s linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}




.swiper-slide-active .circle3{ 
  opacity: 0;
  animation: fadeIn 2s 1s linear;
  -webkit-animation: fadeIn 3.5s 1s linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.swiper-slide-active .p4-1{ 
  opacity: 0;
  animation: fadeIn 1.5s 2s linear;
  -webkit-animation: fadeIn 1.5s 2s linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.swiper-slide-active .p4-2{ 
  opacity: 0;
  animation: fadeIn 1.5s 3s linear;
  -webkit-animation: fadeIn 1.5s 3s linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}


.swiper-slide-active .circle4{ 
  opacity: 0;
  animation: fadeIn 2s 1s linear;
  -webkit-animation: fadeIn 3.5s 1s linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.swiper-slide-active .p5-1{ 
  opacity: 0;
  animation: fadeIn 1.5s 2s linear;
  -webkit-animation: fadeIn 1.5s 2s linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.swiper-slide-active .p5-2{ 
  opacity: 0;
  animation: fadeIn 1.5s 4s linear;
  -webkit-animation: fadeIn 1.5s 4s linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.swiper-slide-active .p5-3{ 
  opacity: 0;
  animation: fadeIn 1.5s 5.5s linear;
  -webkit-animation: fadeIn 1.5s 5.5s linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.swiper-slide-active .circle5{ 
  opacity: 0;
  animation: fadeIn 2s 1s linear;
  -webkit-animation: fadeIn 3.5s 1s linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.swiper-slide-active .p6-1{ 
  opacity: 0;
  animation: fadeIn 1.5s 2s linear;
  -webkit-animation: fadeIn 1.5s 2s linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.swiper-slide-active .p6-2{ 
  opacity: 0;
  animation: fadeIn 1.5s 3s linear;
  -webkit-animation: fadeIn 1.5s 3s linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.swiper-slide-active .p6-3{ 
  opacity: 0;
  animation: fadeIn 1.5s 4s linear;
  -webkit-animation: fadeIn 1.5s 4s linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.p1-text{
  opacity: 0;
}
.swiper-slide-active .p1-text{
  opacity: 0;
  animation: fadeIn 2s .5s linear;
  -webkit-animation: fadeIn 2s .5s linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.swiper-slide-active .btn1{
  opacity: 0;
  animation: fadeIn 1.5s 2s linear;
  -webkit-animation: fadeIn 1.5s 2s linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
.swiper-slide-active .btn2{
  opacity: 0;
  animation: fadeIn 1.5s 3.5s linear;
  -webkit-animation: fadeIn 1.5s 3.5s linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
.swiper-slide-active .btn3{
  opacity: 0;
  animation: fadeIn 1.5s 5s linear;
  -webkit-animation: fadeIn 1.5s 5s linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
.swiper-slide-active .btn4{
  opacity: 0;
  animation: fadeIn 1.5s 6.5s linear;
  -webkit-animation: fadeIn 1.5s 6.5s linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
.swiper-slide-active .btn5{
  opacity: 0;
  animation: fadeIn 1.5s 8s linear;
  -webkit-animation: fadeIn 1.5s 8s linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes fadeIn{
  0%  { opacity: 0; }
  100%  { opacity: 1; }
}
-webkit-@keyframes fadeIn{
  0%  { opacity: 0; }
  100%  { opacity: 1; }
}