* {margin: 0;padding: 0;}
body,html{margin: 0;padding: 0;-webkit-font-smoothing: antialiased;font-family: "Microsoft YaHei";}
ul, li,p, h1, h2, h3,form {margin: 0;padding: 0;list-style-type: none;}
a {text-decoration: none;color: #666666;}
a:link,a:visited,a:hover,a:active {text-decoration: none;}
html, body {position: relative;height: 100%;}
a, input {  margin: 0;  padding: 0;  outline: none;  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);}

.ui-loader-default{ display:none}
.ui-mobile-viewport{ border:none;}
.ui-page {padding: 0; margin: 0; outline: 0}

.zindex {  position: absolute;  width: 100%;  height: 100%;  background-color: white;  z-index: 999;}
.zindex .index {  width: 100%;  height: auto;  overflow: hidden;  position: absolute;  top: 50%;  left: 50%;  transform: translate(-50%, -50%);  -webkit-transform: translate(-50%, -50%);  text-align: center;}
.zindex .index .logo {  width: 100%;}
.zindex .index .logo img {  width: 80%;}
.zindex .index .loadimg {  width: 100%;  height: 100%;  position: absolute;  left: 0;  top: 0;  z-index: 1;}
.zindex .index .loading {  text-align: center;  line-height: 158px;  width: 100%;  height: 100%;  color: black;  font-weight: bold;  position: absolute;  left: 0;  top: 0;  z-index: 2;}
.zindex .index .load {  width: 158px;  height: 158px;  margin: 0 auto; /* margin-top: 30px;*/  position: relative;}


.swiper-container {
  width: 100%;
  height: 100%;
}



/*-----------首页-----------*/
.home{ 
   background: url(../images/home_bg2.jpg) no-repeat; 
   background-size: 100%;
   background-position: -20%; 
}

.home .logo{ max-width: 80%; margin: 0 auto; display: block; width: 100%; 
   position: absolute; left: 10%; top: 23.3%;
   -webkit-transform: translate(-50%);
   -ms-transform: translate(-50%);
   -o-transform: translate(-50%);
    transform: translate(-50%);
}


.icon{ width: 40px; height: 40px; display: inline-block; background: url(../images/icon.png) no-repeat left top;
   background-size: 100%; position: absolute;
   left: 50%; bottom: 5%;
   -webkit-transform: translate(-50%);
   -ms-transform: translate(-50%);
   -o-transform: translate(-50%);
    transform: translate(-50%);

}

.page2{  
   background: url(../images/page_bg.jpg) no-repeat; background-size: cover; 
}
.page3{ background: url(../images/p1_bg.jpg) no-repeat; background-size: cover; 
}
.page4, .page5{ background: url(../images/p4_bg.jpg) no-repeat; background-size: cover; 
}
.page6,.page7,.page8,.page9{
   background: url(../images/p6_bg.jpg) no-repeat; background-size: cover; 
}
.page10,.page11,.page12{ 
   background: url(../images/p10_bg.jpg) no-repeat; background-size: cover; 
 }

.page13, .page14, .page15, .page16{ 
   background: url(../images/p13_bg.jpg) no-repeat; background-size: cover; 
}
.page17, .page19, .page20{ 
   background: url(../images/p17_bg.jpg) no-repeat; background-size: cover; 
}
.page18{ 
   background: url(../images/p18.jpg) no-repeat; background-size: cover; 
}

.page21,.page23,.page24{
   background: url(../images/p21_bg.jpg) no-repeat; background-size: cover; 
}
.page22{
   background: url(../images/p22.jpg) no-repeat; background-size: cover; 
}
.page25{
   background: url(../images/p25_bg.jpg) no-repeat; background-size: cover; 
}
.title{  position: absolute; }


.title{ left: 10%;top: 14%; width: 80%;}
.page5 .page_img{ width: 50%; left: 25%; top:20%;}
.page_img{ max-width: 80%; left: 10%; position: absolute; top: 28%;}
.swiper-slide p{ width: 90%; position: absolute; top: 62%; font-size: 16px; left: 6%;}
.swiper-slide a{ color: #e8323b; }

.page7 .icon{ left: 53%; }

.link{
   -webkit-animation: twinkling 2s infinite ease-in; 
}
@-webkit-keyframes twinkling{
   0%{
      opacity:0; 
   }
   50%{
      opacity:1;
   }
   100%{
      opacity: 0;
   }
}






.page3 .title{ left: 33%; max-width: 35%; top: 14%;}


.page7 img{ position: absolute; max-width: 40%; left: 10%;}
.page7 .img1{  top: 13%;}
.page7 .img2{  top: 22%;}
.page7 .img3{  top: 31%;}
.page7 .img4{  top: 43%;}
.page7 .img5{  top: 52%; max-width: 42%; left: 8%;}
.page7 .img6{  top: 16%; max-width: 40%; left: 54%;}

.page9 .title,.page12 .title{ top: 15%; width: 60%; left: 19%; }
.page9 .page_img{top:24%;}
.page9 p{ top: 59%; }

.page10 .title, .page13 .title{ width: 60%; left: 19%;top: 15%; }

.page12 .page_img{ width: 40%; left: 29%; top: 22%;}
.page12 p{ top: 58%; }


.page14 img{ max-width: 40%; position: absolute;}
.page14 .img1{ left: 9%; top: 16%; }
.page14 .img2{ left: 9%; top: 41%; }
.page14 .img3{ left: 55%; top: 16%; }
.page14 .img4{ left: 55%; top: 63%; }

.page16 .title{ top: 18%; }

.page17 p{ top :58%;}

.page20 .title, .page23 .title{ width: 40%; left: 28%; top: 15%;}
.page20 .page_img ,.page23 .page_img{ top: 25%; }
.page20 p, .page23 p{ top: 59%; }

.page21 .title{ width: 70%; left: 15%; top: 15%;}
.page21 .page_img{ top: 32%; }
.page21 p{ top: 65%; }


.page22 .page_img{ max-width: 34%; left: 55%; top: 15%;}

.page24 .title{ width: 65%; left: 18%; top: 15%; }
.page24 .page_img{ top: 25%; }
.page24 p{ top: 59%; }

.page25 .title{ width: 65%; left: 18%; top: 15%; }
.page25 p{ top: 24%; }

.zindex{   position: relative; }
.foot{ background: url(../images/last_bg3.jpg); background-size: 100%; }