*{margin:0;padding:0;}a,li{-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:transparent;}
html,body{height:100%;width: 100%;background: #a10010;font-family: "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";    padding: 0;margin: 0;}
.swiper-container {width: 100%;height: 100%;background: #a10010;background-size: 100% 100%;}
.swiper-slide{width: 100%;height: 100%;}
.ani{position:absolute;top: 0;left: 0px;width:100%;z-index: 3;}
.anibottom{top: auto;bottom:0;left: 0px;width:100%;position: absolute;z-index: 3;}
img{display:block;}
.rotate{animation: rotate 2.5s 0.5s linear infinite;-webkit-animation: rotate 5s 0.5s linear infinite;}
.rotateN{animation: rotate 6s 1.5s linear infinite;-webkit-animation: rotate 6s 1.5s linear infinite;}

.zindex {  position: absolute;  width: 100%;  height: 100%;  background-color: url(images/p1-0.jpg)no-repeat top center;  z-index: 9999999;}
.zindex .index {  width: 100%;  height: auto;  overflow: hidden;  position: absolute;  top: 50%;  left: 50%;  transform: translate(-50%, -50%);  -webkit-transform: translate(-50%, -50%);  text-align: center;}
.zindex .index .logo {  width: 100%;}
.zindex .index .logo img {  width: 50%;}
.zindex .index .loadimg {  width: 100%;  height: 100%;  position: absolute;  left: 0;  top: 0;  z-index: 1;}
.zindex .index .loading {  text-align: center;  line-height: 158px;  width: 100%;  height: 100%;  color: black;  font-weight: bold;  position: absolute;  left: 0;  top: 0;  z-index: 2;}
.zindex .index .load {  width: 158px;  height: 158px;  margin: 0 auto; /* margin-top: 30px;*/  position: relative;}



/*p1*/
/*每屏向下滑动按钮*/
.godown{-webkit-animation-name:godown;animation-name:godown;
    animation-timing-function: linear;-webkit-animation-timing-function: linear;animation-iteration-count:infinite;-webkit-animation-iteration-count:infinite;}
@-moz-keyframes godown{
    0%  {-moz-transform: translateX(0);-ms-transform: translateX(0);-webkit-transform: translateX(0);transform: translateX(0) rotate(180deg);opacity: 0;}
   100% {-moz-transform: translateY(10px);-ms-transform: translateY(10px);-webkit-transform: translateY(10px);transform: translateY(10px) rotate(180deg);opacity: 0.5;}
}
@-webkit-keyframes godown{
    0%  {-moz-transform: translateX(0);-ms-transform: translateX(0);-webkit-transform: translateX(0) rotate(180deg);transform: translateX(0) rotate(180deg);opacity: 0;}
   100% {-moz-transform: translateY(10px);-ms-transform: translateY(10px);-webkit-transform: translateY(10px) rotate(180deg); transform: translateY(10px) rotate(180deg);opacity: 0.5;}
}

/*p2*/
.swiper-slide2{background: url(images/p2-0.jpg) no-repeat top center; background-size: 100% 100%;}
.guize{width: 100%;background:url(images/p2-1.png) no-repeat top center; background-size: 100% 100%;position: relative;    padding-top: 18%;min-height: 80%;}
.cont{width: 68.6%;margin-left:15.7%;margin-top:3%;}
.guize a{display: block;}
.guize a.title img{width: 40%;}
.guize a.hd{margin:5% auto;}
.guize a.hd img{width: 35%;}
.guize p{line-height: 150%;font-family: "黑体";font-size: 1em;-webkit-margin-before: 0.3em;-webkit-margin-after: 0.3em;}
.guize p span{font-family: "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1"}
.guize p.dj{    -webkit-margin-before: 0em;-webkit-margin-after: 0em;}
.form{height: 25px;}
input[type="text"], select {
    -webkit-appearance: none;
    background-color: transparent;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #a10010;
    width: 100%;
    color: #a10010;
    font-size: 1rem;
  	text-align: center;
    padding-bottom: 2px;
}
input[type="text"]::placeholder{
		 text-align: right;color: #a85a5a;
}
input[type="text"]:-moz-placeholder,input[type="text"]::-webkit-input-placeholder{text-align: right;color: #a85a5a;}

.login_mask{  display: none;position: absolute; left: 0; top: 0;background: black;
  opacity: .5;  font-size: 22px;  text-align: center;  height: 100%;width: 100%;color: white;z-index: 999;}
.login_mask span{  transform: translate(-50%, -50%);position: absolute;left: 50%;top:50%;opacity: 1}

/*p3*/
.tishi{width: 100%;background:url(images/p3-1.png) no-repeat top center; background-size: 100% 100%;position: relative;    padding-top: 15%;height: 80%;}
.tishi a{display: block;}
.tishi a.title img{width: 40%;margin:auto;}
.tishi a.jxdt img{width: 40%;margin:auto;}
.content{width: 68.6%;margin-left:15.7%;margin-top:5%;height: 372px;margin-bottom:5%;}  
.content{font-size: .95rem;line-height: 180%;}
.content p{text-indent: 1.8em;}
.mCSB_scrollTools .mCSB_draggerRail{background: #e4aca1;} 
#mCSB_1_dragger_vertical{color: #b6b8c4;}
.content .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background-color:#a81d15;}
.mCSB_scrollTools .mCSB_draggerRail{width: 4px;}
.mCSB_inside > .mCSB_container{margin-right:23px;}

/*p4*/
.swiper-slide4{background: #f2f2f2;background-size: 100%}
.wd{text-align: center;color: #fff;background: url(images/p4-2.png) no-repeat  left center;margin-top:7%;background-size: 15%}
.wd p{-webkit-margin-before: 0.3em;-webkit-margin-after: .3em;}
.question{font-size: 0;position: relative;height: 100%;
    width: 100%; overflow: scroll;}
.qs,.qsmore{width: 94%;margin: 3% auto;background: #fff url(images/p4-3.jpg) no-repeat top right;background-size: 16%;
	left: 50%;border-radius: 4px;color: #da2625;}
.qs p,.qsmore p{color: #da2625;font-size: 1.2rem;font-weight: 700;padding: 15px 50px 0 50px;text-align: left;line-height: 180%;}
.qs p span,.qsmore p span{color: #ae0606;font-weight:bold;position: absolute;left: 20px;font-size: 1.3rem;}
.qs .qsBox,.qsmore .qsBox{padding: 0 50px 50px;overflow: hidden;}
input[type="radio"],input[type="checkbox"]{
	display:inline-block;  
	  vertical-align: middle;
	  height:19px;
	  width:19px;
	  -webkit-appearance : none;
	  background-color: transparent;
	  background:url('http://partner.qianlong.com/h5/xx19da/images/check_off.png') 0 0 no-repeat; 
	  border: 0;
	  outline: 0;
	  background-size: 100%; 
	  vertical-align: top;
	  margin-top: 5px;
}
.qs label,.qsmore label{
    color: #333;
    font-size: 1.2rem;
    line-height: 30px;
    margin-left: 15px;
}
.qs .qsBox> div,.qsmore .qsBox> div{margin-top: 10px;    text-align: left;}
.qsmore{background: #fff url(images/p4-4.png) no-repeat top right;background-size: 16%;}
.check_right{
  background:url('http://partner.qianlong.com/h5/xx19da/images/check_on.png') 0 0 no-repeat !important; 
  height:21px !important;
  width:25px !important; 
  display:inline-block !important;  
  background-size: 100% !important; 
  vertical-align: top !important;
}
#tijiao img{margin:5% auto;width: 50%}
.qs-wrapper{margin-top:-15%;position: relative;}
.xxyd{position: relative;width: 100%;}.xxyd a{position: absolute;left: 0;width:21.04%;top: 19.08%;}

/*p6*/
.jgts{position: absolute;top: 13%;width: 100%;z-index: 2;}
.jgts img{width: 100%;}
.jgts a{position: absolute;width: 53.3%;left: 23.35%;top: 77.3%;z-index: 4;    height: 45px;}


/*p5*/
.prizePage{background:url(images/p5-1.png) no-repeat top center;background-size: 100% 100%;}
#dowebok{width: 100%;height: auto;margin:0;position: absolute;top:8%}
.plate{float: none;width: 100%;background:url(images/p5-3.png) no-repeat top center;background-size: 100%;margin-top:0;padding-top: 0}
#plateBtn{position: absolute;background:url(images/p5-5.png) no-repeat center;background-size: 100% 100%;width:33.2%;left: 33.4%;top: 44%;opacity: 1;display: block;}
.prizeDesc{margin-top: 30px;}
.craper{position: absolute;top: 13%;width: 100%;z-index: 2;display: none;}
.craper img{width: 100%;}
.craper a{position: absolute;width: 9.33%;left: 46%;top: 86.3%;z-index: 4;}
.craper div{position: absolute;width: 53.33%;left: 23.33%;top: 59%;z-index: 4;height: 43px;}









@media (max-width: 361px) {
	.guize a.hd{margin:0 auto;}
	/*.guize p{font-size: 0.9em}*/
}