*{margin:0;padding:0;
  -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: transparent;}
html,body{width: 100%;background: transparent;font-family: sans-serif;}
.swiper-container {width: 100%;height: 100%; background-size: 100% 100%;/*background: url(images/p1-bg.png)no-repeat center top;*/display: none;}
img{display:block;width: 100%}.ani{position:absolute;}.anitop{top: 0;left: 0;width: 100%;}.anibottom{top: auto;left: 0;bottom: 0;width: 100%;}
.rotate{animation: rotate2 2.5s 0.5s linear infinite;-webkit-animation: rotate2 5s 0.5s linear infinite;}



@keyframes rotate{
    0%{opacity: 1;}
    100%{transform: rotate(360deg);-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);opacity: 1;}
}
@-webkit-keyframes rotate{
     0%{opacity: 1;}
    100%{transform: rotate(360deg);-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);opacity: 1;}
}
.rotatenn{animation: rotatenn linear infinite;-webkit-animation: rotatenn linear infinite;}
@keyframes rotatenn{
    0%{opacity: 0;}
    100%{transform: rotate(360deg);-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);}
}
@-webkit-keyframes rotatenn{
    0%{opacity: 0;}
    100%{opacity: 1;
        transform: rotate(360deg);-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);}
}


.up{
  position: absolute;
  bottom: 5%;
  z-index: 999;
  width: 100%;
  animation: up 2s infinite;
}

@keyframes up {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

p.ani{
  position: relative !important;
}

/*每屏向下滑动按钮*/
.godown{animation: godown 1.5s 3s linear infinite;-webkit-animation: godown 1.5s 3s linear infinite;}
@-moz-keyframes godown{
    0%  {
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 0;
    }
   100% {
        -moz-transform: translateY(12px);
        -ms-transform: translateY(12px);
        -webkit-transform: translateY(12px);
        transform: translateY(12px);
        opacity: 0.5;
    }
}
@-webkit-keyframes godown{
    0%  {
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 0;
    }
   100% {
        -moz-transform: translateY(12px);
        -ms-transform: translateY(12px);
        -webkit-transform: translateY(12px);
        transform: translateY(12px);
        opacity: 0.5;
    }
}
@keyframes godown{
    0%  {
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 0;
    }
   100% {
        -moz-transform: translateY(12px);
        -ms-transform: translateY(12px);
        -webkit-transform: translateY(12px);
        transform: translateY(12px);
        opacity: 0.5;
    }
}
.scalebig{animation: scalebig 2s 0.8s ease-in forwards;-webkit-animation: scalebig 2s 0.8s ease-in forwards;}
@keyframes scalebig{
    0%{-webkit-transform:scale3d(1.8,1.8,1.8);
       -webkit-transform-origin: top center;
       -moz-transform:scale3d(1.8,1.8,1.8);
       -moz-transform-origin: top center;
       transform: scale3d(1.8,1.8,1.8);
       transform-origin: top center;opacity: 1;display: block;}
    100%{-webkit-transform:scale3d(1,1,1);-moz-transform: scale3d(1,1,1);transform: scale3d(1,1,1);opacity: 1;display: block;}
}
@-webkit-keyframes scalebig{
    0%{-webkit-transform:scale3d(1.8,1.8,1.8);
       -webkit-transform-origin: top center;
       -moz-transform:scale3d(1.8,1.8,1.8);
       -moz-transform-origin: top center;
       transform: scale3d(1.8,1.8,1.8);
       transform-origin: top center;opacity: 1;display: block;}
    100%{-webkit-transform:scale3d(1,1,1);-moz-transform: scale3d(1,1,1);transform: scale3d(1,1,1);opacity: 1;display: block;}
}

#loadpage{position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: #c3e4ff;z-index: 6;}
.loadtext{width: 100%;position: absolute;top: 40%;left: 0%;color: red;width: 100%;z-index: 2;text-align: center;font-size: 1.2rem;}
.swiper-slide{/*background: url(images/p-bg.png) no-repeat top center;*/ background-size: 100% 100%;position: relative;
  background: url(images/p-bg.png) no-repeat top center; background-size: 100% 100%;}
.swiper-slide1{text-align: center;}
.mainvideo {
  object-fit:cover;
  position: absolute;
  width: 96%;
  top: 24%;
  height: 4rem;left: 2%;
  z-index: 7;
}
#mainvideo4{height: auto;top: 22%}


.p8-1{height: 9.43rem;}
.jiyan{top: 2.19rem; height: 7.12rem;width: 58%;left: 21.1%;position: absolute;z-index: 10;}
.grxx{font-size: 0.3rem;color: #797979;font-family: "微软雅黑";font-weight: bold;z-index: 12;}
.grxx p {text-indent: 1em;line-height: 0.5rem;height: 0.5rem;}
.grxx p label,.grxx p input[type="text"]{float: left;}
.liuyan{height: 4.6rem;overflow-y:scroll;color: #40484e;margin-top: 0.1rem;
}
.liuyan p{font-size: 0.3rem;font-weight: bold;line-height: 0.78rem;height: 4.6rem;}
.liuyan p textarea{height: 4.6rem;text-indent: 2em;width: 100%;background-color: transparent;line-height: 0.78rem;
  font-size: 0.3rem;color: #40484e;font-weight: bold;border: none;}
input[type="text"]{-webkit-appearance: none;
    background-color: transparent;
    border: 0;
    outline: 0;
    border-bottom: 1px solid red;
    width: 60%;
    color: #797979;
    font-size: 0.3rem;font-weight: bold;
    text-align: center;
    padding-bottom: 2px;height: 0.48rem;}
.clearboth{clear: both;}

@keyframes shake{
   0% {
       -webkit-transform: rotate(3deg);
       -webkit-transform-origin: top center;
       -moz-transform: rotate(3deg);
       -moz-transform-origin: top center;
       transform: rotate(3deg);
       transform-origin: top center;
    }
    100% {
       -webkit-transform: rotate(-3deg);
       -webkit-transform-origin: top center;
       -moz-transform: rotate(-3deg);
       -moz-transform-origin: top center;
       transform: rotate(-3deg);
       transform-origin: top center;
    }
}
@-webkit-keyframes shake{
   0% {
       -webkit-transform: rotate(3deg);
       -webkit-transform-origin: top center;
       -moz-transform: rotate(3deg);
       -moz-transform-origin: top center;
       transform: rotate(3deg);
       transform-origin: top center;
    }
    100% {
       -webkit-transform: rotate(-3deg);
       -webkit-transform-origin: top center;
       -moz-transform: rotate(-3deg);
       -moz-transform-origin: top center;
       transform: rotate(-3deg);
       transform-origin: top center;
    }
}
















