* {margin: 0; padding: 0; }
      body {margin: 0; padding: 0; }
      html {margin: 0; padding: 0; }
      ul {margin: 0;padding: 0; }
      li {margin: 0;padding: 0;list-style: none; }
      p, h1, h2, h3 {margin: 0;padding: 0; }
      form {margin: 0; padding: 0; }
      html, body {position: relative; height: 100%;}
      .swiper-container {width: 100%; height: 100%;}
      .anim {
        transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
      }


.zindex {  position: absolute;  width: 100%;  height: 100%;  background-color: white;  z-index: 999;
   background: url(../images/home_bg.jpg);
}
.zindex .index {  width: 100%;  height: auto;  overflow: hidden;  position: absolute;  top: 50%;  left: 50%;  transform: translate(-50%, -50%);  -webkit-transform: translate(-50%, -50%);  text-align: center;}
.zindex .index .logo {  width: 100%;}
.zindex .index .logo img {  width: 80%;}
.zindex .index .loadimg {  width: 100%;  height: 100%;  position: absolute;  left: 0;  top: 0;  z-index: 1;}
.zindex .index .loading {  text-align: center;  line-height: 158px;  width: 100%;  height: 100%;  color: white;  font-weight: bold;  position: absolute;  left: 0;  top: 0;  z-index: 2; font-size:25px; }
.zindex .index .load {  width: 158px;  height: 158px;  margin: 0 auto; /* margin-top: 30px;*/  position: relative;}




.page {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    height: 100%;
    overflow: hidden; 
}

.swiper-slide{ position: relative; background: url(../images/home_bg.jpg) no-repeat; background-size: cover;}
.resize{ position: fixed; right: 3%; top: 3%; width: 40px; z-index: 9; opacity: 1; }
.swiper-wrapper img{ position: absolute; left: 0; }







.raindrop {
   position: absolute;
   top: -10%;
   margin-top: 0;
   margin-left: -0.1em;
   width: 0.2em;
   height: 0.2em;
   background: #ffffff;
   border-radius: 100%;
   box-shadow: 0 0 0 0.2em #ffffff, 0 0 0 0.2em #ffffff, 0 0 0 0.2em #ffffff, 0 0 0 0.2em #ffffff, 0 0 0 0.2em #ffffff, 0 0 0 0.2em #ffffff, 0 0 0 0.2em #ffffff, 0 0 0 0.2em #ffffff, 0 0 0 0.2em #ffffff, 0 0 0 0.2em #ffffff;
   
}

.raindrop-gray{
   animation: drop-gray 3s cubic-bezier(0, 0, 1, 0.5) ;
   animation-delay : 2.6s; 
   left: 65%;
}
.raindrop-gray2{
   animation: drop-gray2 3s cubic-bezier(0, 0, 1, 0.5) ;
   animation-delay : 2.8s; 
   left: 64%;
}

@keyframes drop-gray {
   3% {
      box-shadow: 0.1em -0.1em 0 0.05em #b9c6c4, 0.1em -0.2em 0 0.052631578947368425em #b9c6c4, 0.1em 0.30000000000000004em 0 0.05555555555555556em #b9c6c4, 0.1em 0.4em 0 0.08333333333333334em #b9c6c4, 0.1em 0.5em 0 0.09090909090909091em #b9c6c4, 0.1em 0.6000000000000001em 0 0.1em #b9c6c4, 0.1em 0.7000000000000001em 0 0.11111111111111112em #b9c6c4, 0.1em 0.8em 0 0.125em #b9c6c4, 0.1em 0.9em 0 0.14285714285714293em #b9c6c4, 0.1em 1em 0 0.16666666666666669em #b9c6c4;
   }
   15% {
      top: 15%;
      box-shadow: 0.1em 0.1em 0 0.10526315789473685em #b9c6c4, 0.1em 0.2em 0 0.11111111111111112em #b9c6c4, 0.1em 0.30000000000000004em 0 0.11764705932352942em #b9c6c4, 0.1em 0.4em 0 0.125em #b9c6c4, 0.1em 0.5em 0 0.13333333333333333em #b9c6c4, 0.1em 0.6000000000000001em 0 0.14285714285714293em #b9c6c4, 0.1em 0.7000000000000001em 0 0.15384615384615385em #b9c6c4, 0.1em 0.8em 0 0.16666666666666669em #b9c6c4, 0.1em 0.9em 0 0.18181818181818182em #b9c6c4, 0.1em 1em 0 0.2em #b9c6c4;
   }
   25% {
      top: 15%;
      background: rgba(255, 255, 255, 0.1);
      box-shadow: -0.1em 0.1em 0 0.06666666666666667em rgba(255, 255, 255, 0.1), -2em -0.21000000000000002em 0 0.1em rgba(255, 255, 255, 0.1), 2em -1.5em 0 0.04em rgba(255, 255, 255, 0.1), 2.5em -2em 0 0.2em rgba(255, 255, 255, 0.1), 8em -8em 0 0.01em rgba(255, 255, 255, 0.1), 2.5em -3em 0 0.04em rgba(255, 255, 255, 0.1), 3em -0.26em 0 0.03333333333333333em rgba(255, 255, 255, 0.1), -5em -5em 0 0.03333333333333333em rgba(255, 255, 255, 0.1), 5em -3.5em 0 0.1em rgba(255, 255, 255, 0.1), 0.1em -3em 0 0.2em rgba(255, 255, 255, 0.1);
   }
   35% {
      top: 15%;
      background: rgba(255, 255, 255, 0.1);
      box-shadow: -0.4em 0.4em 0 0.06666666666666667em rgba(255, 255, 255, 0.1), -8em 0.4em 0 0.1em rgba(255, 255, 255, 0.1), 8em 0.4em 0 0.04em rgba(255, 255, 255, 0.1), 10em 0.4em 0 0.2em rgba(255, 255, 255, 0.1), 32em 0.4em 0 0.01em rgba(255, 255, 255, 0.1), 12em 0.4em 0 0.04em rgba(255, 255, 255, 0.1), 12em 0.4em 0 0.03333333333333333em rgba(255, 255, 255, 0.1), -20em 0.4em 0 0.03333333333333333em rgba(255, 255, 255, 0.1), 20em 0.4em 0 0.1em rgba(255, 255, 255, 0.1), 0.4em 0.4em 0 0.2em rgba(255, 255, 255, 0.1);
   }
   40% {
      top: 15%;
      background: rgba(0, 0, 0, 0);
      box-shadow: -0.1em 0.1em 0 0.06666666666666667em rgba(0, 0, 0, 0), -2em 0.1em 0 0.1em rgba(0, 0, 0, 0), 2em 0.1em 0 0.04em rgba(0, 0, 0, 0), 2.5em 0.1em 0 0.2em rgba(0, 0, 0, 0), 8em 0.1em 0 0.01em rgba(0, 0, 0, 0), 3em 0.1em 0 0.04em rgba(0, 0, 0, 0), 3em 0.1em 0 0.03333333333333333em rgba(0, 0, 0, 0), -5em 0.1em 0 0.03333333333333333em rgba(0, 0, 0, 0), 5em 0.1em 0 0.1em rgba(0, 0, 0, 0), 0.1em 0.1em 0 0.2em rgba(0, 0, 0, 0);
   }
   100% {
      top: 15%;
      background: rgba(0, 0, 0, 0);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
   }
}
@-webkit-keyframes drop-gray {
   3% {
      box-shadow: 0.1em -0.1em 0 0.05em #b9c6c4, 0.1em -0.2em 0 0.052631578947368425em #b9c6c4, 0.1em 0.30000000000000004em 0 0.05555555555555556em #b9c6c4, 0.1em 0.4em 0 0.08333333333333334em #b9c6c4, 0.1em 0.5em 0 0.09090909090909091em #b9c6c4, 0.1em 0.6000000000000001em 0 0.1em #b9c6c4, 0.1em 0.7000000000000001em 0 0.11111111111111112em #b9c6c4, 0.1em 0.8em 0 0.125em #b9c6c4, 0.1em 0.9em 0 0.14285714285714293em #b9c6c4, 0.1em 1em 0 0.16666666666666669em #b9c6c4;
   }
   15% {
      top: 15%;
      box-shadow: 0.1em 0.1em 0 0.10526315789473685em #b9c6c4, 0.1em 0.2em 0 0.11111111111111112em #b9c6c4, 0.1em 0.30000000000000004em 0 0.11764705932352942em #b9c6c4, 0.1em 0.4em 0 0.125em #b9c6c4, 0.1em 0.5em 0 0.13333333333333333em #b9c6c4, 0.1em 0.6000000000000001em 0 0.14285714285714293em #b9c6c4, 0.1em 0.7000000000000001em 0 0.15384615384615385em #b9c6c4, 0.1em 0.8em 0 0.16666666666666669em #b9c6c4, 0.1em 0.9em 0 0.18181818181818182em #b9c6c4, 0.1em 1em 0 0.2em #b9c6c4;
   }
   25% {
      top: 15%;
      background: rgba(255, 255, 255, 0.1);
      box-shadow: -0.1em 0.1em 0 0.06666666666666667em rgba(255, 255, 255, 0.1), -2em -0.21000000000000002em 0 0.1em rgba(255, 255, 255, 0.1), 2em -1.5em 0 0.04em rgba(255, 255, 255, 0.1), 2.5em -2em 0 0.2em rgba(255, 255, 255, 0.1), 8em -8em 0 0.01em rgba(255, 255, 255, 0.1), 2.5em -3em 0 0.04em rgba(255, 255, 255, 0.1), 3em -0.26em 0 0.03333333333333333em rgba(255, 255, 255, 0.1), -5em -5em 0 0.03333333333333333em rgba(255, 255, 255, 0.1), 5em -3.5em 0 0.1em rgba(255, 255, 255, 0.1), 0.1em -3em 0 0.2em rgba(255, 255, 255, 0.1);
   }
   35% {
      top: 15%;
      background: rgba(255, 255, 255, 0.1);
      box-shadow: -0.4em 0.4em 0 0.06666666666666667em rgba(255, 255, 255, 0.1), -8em 0.4em 0 0.1em rgba(255, 255, 255, 0.1), 8em 0.4em 0 0.04em rgba(255, 255, 255, 0.1), 10em 0.4em 0 0.2em rgba(255, 255, 255, 0.1), 32em 0.4em 0 0.01em rgba(255, 255, 255, 0.1), 12em 0.4em 0 0.04em rgba(255, 255, 255, 0.1), 12em 0.4em 0 0.03333333333333333em rgba(255, 255, 255, 0.1), -20em 0.4em 0 0.03333333333333333em rgba(255, 255, 255, 0.1), 20em 0.4em 0 0.1em rgba(255, 255, 255, 0.1), 0.4em 0.4em 0 0.2em rgba(255, 255, 255, 0.1);
   }
   40% {
      top: 15%;
      background: rgba(0, 0, 0, 0);
      box-shadow: -0.1em 0.1em 0 0.06666666666666667em rgba(0, 0, 0, 0), -2em 0.1em 0 0.1em rgba(0, 0, 0, 0), 2em 0.1em 0 0.04em rgba(0, 0, 0, 0), 2.5em 0.1em 0 0.2em rgba(0, 0, 0, 0), 8em 0.1em 0 0.01em rgba(0, 0, 0, 0), 3em 0.1em 0 0.04em rgba(0, 0, 0, 0), 3em 0.1em 0 0.03333333333333333em rgba(0, 0, 0, 0), -5em 0.1em 0 0.03333333333333333em rgba(0, 0, 0, 0), 5em 0.1em 0 0.1em rgba(0, 0, 0, 0), 0.1em 0.1em 0 0.2em rgba(0, 0, 0, 0);
   }
   100% {
      top: 15%;
      background: rgba(0, 0, 0, 0);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
   }
}

@keyframes drop-gray2 {
   3% {
      box-shadow: 0.1em -0.1em 0 0.05em #b9c6c4, 0.1em -0.2em 0 0.052631578947368425em #b9c6c4, 0.1em 0.30000000000000004em 0 0.05555555555555556em #b9c6c4, 0.1em 0.4em 0 0.08333333333333334em #b9c6c4, 0.1em 0.5em 0 0.09090909090909091em #b9c6c4, 0.1em 0.6000000000000001em 0 0.1em #b9c6c4, 0.1em 0.7000000000000001em 0 0.11111111111111112em #b9c6c4, 0.1em 0.8em 0 0.125em #b9c6c4, 0.1em 0.9em 0 0.14285714285714293em #b9c6c4, 0.1em 1em 0 0.16666666666666669em #b9c6c4;
   }
   15% {
      top: 93%;
      box-shadow: 0.1em 0.1em 0 0.10526315789473685em #b9c6c4, 0.1em 0.2em 0 0.11111111111111112em #b9c6c4, 0.1em 0.30000000000000004em 0 0.11764705932352942em #b9c6c4, 0.1em 0.4em 0 0.125em #b9c6c4, 0.1em 0.5em 0 0.13333333333333333em #b9c6c4, 0.1em 0.6000000000000001em 0 0.14285714285714293em #b9c6c4, 0.1em 0.7000000000000001em 0 0.15384615384615385em #b9c6c4, 0.1em 0.8em 0 0.16666666666666669em #b9c6c4, 0.1em 0.9em 0 0.18181818181818182em #b9c6c4, 0.1em 1em 0 0.2em #b9c6c4;
   }
   25% {
      top: 93%;
      background: rgba(255, 255, 255, 0.1);
      box-shadow: -0.1em 0.1em 0 0.06666666666666667em rgba(255, 255, 255, 0.1), -2em -0.21000000000000002em 0 0.1em rgba(255, 255, 255, 0.1), 2em -1.5em 0 0.04em rgba(255, 255, 255, 0.1), 2.5em -2em 0 0.2em rgba(255, 255, 255, 0.1), 8em -8em 0 0.01em rgba(255, 255, 255, 0.1), 2.5em -3em 0 0.04em rgba(255, 255, 255, 0.1), 3em -0.26em 0 0.03333333333333333em rgba(255, 255, 255, 0.1), -5em -5em 0 0.03333333333333333em rgba(255, 255, 255, 0.1), 5em -3.5em 0 0.1em rgba(255, 255, 255, 0.1), 0.1em -3em 0 0.2em rgba(255, 255, 255, 0.1);
   }
   35% {
      top: 93%;
      background: rgba(255, 255, 255, 0.1);
      box-shadow: -0.4em 0.4em 0 0.06666666666666667em rgba(255, 255, 255, 0.1), -8em 0.4em 0 0.1em rgba(255, 255, 255, 0.1), 8em 0.4em 0 0.04em rgba(255, 255, 255, 0.1), 10em 0.4em 0 0.2em rgba(255, 255, 255, 0.1), 32em 0.4em 0 0.01em rgba(255, 255, 255, 0.1), 12em 0.4em 0 0.04em rgba(255, 255, 255, 0.1), 12em 0.4em 0 0.03333333333333333em rgba(255, 255, 255, 0.1), -20em 0.4em 0 0.03333333333333333em rgba(255, 255, 255, 0.1), 20em 0.4em 0 0.1em rgba(255, 255, 255, 0.1), 0.4em 0.4em 0 0.2em rgba(255, 255, 255, 0.1);
   }
   40% {
      top: 93%;
      background: rgba(0, 0, 0, 0);
      box-shadow: -0.1em 0.1em 0 0.06666666666666667em rgba(0, 0, 0, 0), -2em 0.1em 0 0.1em rgba(0, 0, 0, 0), 2em 0.1em 0 0.04em rgba(0, 0, 0, 0), 2.5em 0.1em 0 0.2em rgba(0, 0, 0, 0), 8em 0.1em 0 0.01em rgba(0, 0, 0, 0), 3em 0.1em 0 0.04em rgba(0, 0, 0, 0), 3em 0.1em 0 0.03333333333333333em rgba(0, 0, 0, 0), -5em 0.1em 0 0.03333333333333333em rgba(0, 0, 0, 0), 5em 0.1em 0 0.1em rgba(0, 0, 0, 0), 0.1em 0.1em 0 0.2em rgba(0, 0, 0, 0);
   }
   100% {
      top: 93%;
      background: rgba(0, 0, 0, 0);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
   }
}
@-webkit-keyframes drop-gray2 {
   3% {
      box-shadow: 0.1em -0.1em 0 0.05em #b9c6c4, 0.1em -0.2em 0 0.052631578947368425em #b9c6c4, 0.1em 0.30000000000000004em 0 0.05555555555555556em #b9c6c4, 0.1em 0.4em 0 0.08333333333333334em #b9c6c4, 0.1em 0.5em 0 0.09090909090909091em #b9c6c4, 0.1em 0.6000000000000001em 0 0.1em #b9c6c4, 0.1em 0.7000000000000001em 0 0.11111111111111112em #b9c6c4, 0.1em 0.8em 0 0.125em #b9c6c4, 0.1em 0.9em 0 0.14285714285714293em #b9c6c4, 0.1em 1em 0 0.16666666666666669em #b9c6c4;
   }
   15% {
      top: 93%;
      box-shadow: 0.1em 0.1em 0 0.10526315789473685em #b9c6c4, 0.1em 0.2em 0 0.11111111111111112em #b9c6c4, 0.1em 0.30000000000000004em 0 0.11764705932352942em #b9c6c4, 0.1em 0.4em 0 0.125em #b9c6c4, 0.1em 0.5em 0 0.13333333333333333em #b9c6c4, 0.1em 0.6000000000000001em 0 0.14285714285714293em #b9c6c4, 0.1em 0.7000000000000001em 0 0.15384615384615385em #b9c6c4, 0.1em 0.8em 0 0.16666666666666669em #b9c6c4, 0.1em 0.9em 0 0.18181818181818182em #b9c6c4, 0.1em 1em 0 0.2em #b9c6c4;
   }
   25% {
      top: 93%;
      background: rgba(255, 255, 255, 0.1);
      box-shadow: -0.1em 0.1em 0 0.06666666666666667em rgba(255, 255, 255, 0.1), -2em -0.21000000000000002em 0 0.1em rgba(255, 255, 255, 0.1), 2em -1.5em 0 0.04em rgba(255, 255, 255, 0.1), 2.5em -2em 0 0.2em rgba(255, 255, 255, 0.1), 8em -8em 0 0.01em rgba(255, 255, 255, 0.1), 2.5em -3em 0 0.04em rgba(255, 255, 255, 0.1), 3em -0.26em 0 0.03333333333333333em rgba(255, 255, 255, 0.1), -5em -5em 0 0.03333333333333333em rgba(255, 255, 255, 0.1), 5em -3.5em 0 0.1em rgba(255, 255, 255, 0.1), 0.1em -3em 0 0.2em rgba(255, 255, 255, 0.1);
   }
   35% {
      top: 93%;
      background: rgba(255, 255, 255, 0.1);
      box-shadow: -0.4em 0.4em 0 0.06666666666666667em rgba(255, 255, 255, 0.1), -8em 0.4em 0 0.1em rgba(255, 255, 255, 0.1), 8em 0.4em 0 0.04em rgba(255, 255, 255, 0.1), 10em 0.4em 0 0.2em rgba(255, 255, 255, 0.1), 32em 0.4em 0 0.01em rgba(255, 255, 255, 0.1), 12em 0.4em 0 0.04em rgba(255, 255, 255, 0.1), 12em 0.4em 0 0.03333333333333333em rgba(255, 255, 255, 0.1), -20em 0.4em 0 0.03333333333333333em rgba(255, 255, 255, 0.1), 20em 0.4em 0 0.1em rgba(255, 255, 255, 0.1), 0.4em 0.4em 0 0.2em rgba(255, 255, 255, 0.1);
   }
   40% {
      top: 93%;
      background: rgba(0, 0, 0, 0);
      box-shadow: -0.1em 0.1em 0 0.06666666666666667em rgba(0, 0, 0, 0), -2em 0.1em 0 0.1em rgba(0, 0, 0, 0), 2em 0.1em 0 0.04em rgba(0, 0, 0, 0), 2.5em 0.1em 0 0.2em rgba(0, 0, 0, 0), 8em 0.1em 0 0.01em rgba(0, 0, 0, 0), 3em 0.1em 0 0.04em rgba(0, 0, 0, 0), 3em 0.1em 0 0.03333333333333333em rgba(0, 0, 0, 0), -5em 0.1em 0 0.03333333333333333em rgba(0, 0, 0, 0), 5em 0.1em 0 0.1em rgba(0, 0, 0, 0), 0.1em 0.1em 0 0.2em rgba(0, 0, 0, 0);
   }
   100% {
      top: 93%;
      background: rgba(0, 0, 0, 0);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
   }
}



.raindrop-blue{
   animation: drop-blue 3s cubic-bezier(0, 0, 1, 0.5) ;
   animation-delay : 2.3s; 
   left: 35%;
}
.raindrop-blue2{
   animation: drop-blue2 3s cubic-bezier(0, 0, 1, 0.5) ;
   animation-delay : 3s; 
   left: 37.5%;
}
@keyframes drop-blue {
   3% {
      box-shadow: 0.1em -0.1em 0 0.05em #6f8bb4, 0.1em -0.2em 0 0.052631578947368425em #6f8bb4, 0.1em 0.30000000000000004em 0 0.05555555555555556em #6f8bb4, 0.1em 0.4em 0 0.08333333333333334em #6f8bb4, 0.1em 0.5em 0 0.09090909090909091em #6f8bb4, 0.1em 0.6000000000000001em 0 0.1em #6f8bb4, 0.1em 0.7000000000000001em 0 0.11111111111111112em #6f8bb4, 0.1em 0.8em 0 0.125em #6f8bb4, 0.1em 0.9em 0 0.14285714285714293em #6f8bb4, 0.1em 1em 0 0.16666666666666669em #6f8bb4;
   }
   15% {
      top: 18%;
      box-shadow: 0.1em 0.1em 0 0.10526315789473685em #6f8bb4, 0.1em 0.2em 0 0.11111111111111112em #6f8bb4, 0.1em 0.30000000000000004em 0 0.11764705932352942em #6f8bb4, 0.1em 0.4em 0 0.125em #6f8bb4, 0.1em 0.5em 0 0.13333333333333333em #6f8bb4, 0.1em 0.6000000000000001em 0 0.14285714285714293em #6f8bb4, 0.1em 0.7000000000000001em 0 0.15384615384615385em #6f8bb4, 0.1em 0.8em 0 0.16666666666666669em #6f8bb4, 0.1em 0.9em 0 0.18181818181818182em #6f8bb4, 0.1em 1em 0 0.2em #6f8bb4;
   }
   25% {
      top: 18%;
      background: rgba(255, 255, 255, 0.1);
      box-shadow: -0.1em 0.1em 0 0.06666666666666667em rgba(255, 255, 255, 0.1), -2em -0.21000000000000002em 0 0.1em rgba(255, 255, 255, 0.1), 2em -1.5em 0 0.04em rgba(255, 255, 255, 0.1), 2.5em -2em 0 0.2em rgba(255, 255, 255, 0.1), 8em -8em 0 0.01em rgba(255, 255, 255, 0.1), 2.5em -3em 0 0.04em rgba(255, 255, 255, 0.1), 3em -0.26em 0 0.03333333333333333em rgba(255, 255, 255, 0.1), -5em -5em 0 0.03333333333333333em rgba(255, 255, 255, 0.1), 5em -3.5em 0 0.1em rgba(255, 255, 255, 0.1), 0.1em -3em 0 0.2em rgba(255, 255, 255, 0.1);
   }
   35% {
      top: 18%;
      background: rgba(255, 255, 255, 0.1);
      box-shadow: -0.4em 0.4em 0 0.06666666666666667em rgba(255, 255, 255, 0.1), -8em 0.4em 0 0.1em rgba(255, 255, 255, 0.1), 8em 0.4em 0 0.04em rgba(255, 255, 255, 0.1), 10em 0.4em 0 0.2em rgba(255, 255, 255, 0.1), 32em 0.4em 0 0.01em rgba(255, 255, 255, 0.1), 12em 0.4em 0 0.04em rgba(255, 255, 255, 0.1), 12em 0.4em 0 0.03333333333333333em rgba(255, 255, 255, 0.1), -20em 0.4em 0 0.03333333333333333em rgba(255, 255, 255, 0.1), 20em 0.4em 0 0.1em rgba(255, 255, 255, 0.1), 0.4em 0.4em 0 0.2em rgba(255, 255, 255, 0.1);
   }
   40% {
      top: 18%;
      background: rgba(0, 0, 0, 0);
      box-shadow: -0.1em 0.1em 0 0.06666666666666667em rgba(0, 0, 0, 0), -2em 0.1em 0 0.1em rgba(0, 0, 0, 0), 2em 0.1em 0 0.04em rgba(0, 0, 0, 0), 2.5em 0.1em 0 0.2em rgba(0, 0, 0, 0), 8em 0.1em 0 0.01em rgba(0, 0, 0, 0), 3em 0.1em 0 0.04em rgba(0, 0, 0, 0), 3em 0.1em 0 0.03333333333333333em rgba(0, 0, 0, 0), -5em 0.1em 0 0.03333333333333333em rgba(0, 0, 0, 0), 5em 0.1em 0 0.1em rgba(0, 0, 0, 0), 0.1em 0.1em 0 0.2em rgba(0, 0, 0, 0);
   }
   100% {
      top: 18%;
      background: rgba(0, 0, 0, 0);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
   }
}
@-webkit-keyframes drop-blue {
   3% {
      box-shadow: 0.1em -0.1em 0 0.05em #6f8bb4, 0.1em -0.2em 0 0.052631578947368425em #6f8bb4, 0.1em 0.30000000000000004em 0 0.05555555555555556em #6f8bb4, 0.1em 0.4em 0 0.08333333333333334em #6f8bb4, 0.1em 0.5em 0 0.09090909090909091em #6f8bb4, 0.1em 0.6000000000000001em 0 0.1em #6f8bb4, 0.1em 0.7000000000000001em 0 0.11111111111111112em #6f8bb4, 0.1em 0.8em 0 0.125em #6f8bb4, 0.1em 0.9em 0 0.14285714285714293em #6f8bb4, 0.1em 1em 0 0.16666666666666669em #6f8bb4;
   }
   15% {
      top: 18%;
      box-shadow: 0.1em 0.1em 0 0.10526315789473685em #6f8bb4, 0.1em 0.2em 0 0.11111111111111112em #6f8bb4, 0.1em 0.30000000000000004em 0 0.11764705932352942em #6f8bb4, 0.1em 0.4em 0 0.125em #6f8bb4, 0.1em 0.5em 0 0.13333333333333333em #6f8bb4, 0.1em 0.6000000000000001em 0 0.14285714285714293em #6f8bb4, 0.1em 0.7000000000000001em 0 0.15384615384615385em #6f8bb4, 0.1em 0.8em 0 0.16666666666666669em #6f8bb4, 0.1em 0.9em 0 0.18181818181818182em #6f8bb4, 0.1em 1em 0 0.2em #6f8bb4;
   }
   25% {
      top: 18%;
      background: rgba(255, 255, 255, 0.1);
      box-shadow: -0.1em 0.1em 0 0.06666666666666667em rgba(255, 255, 255, 0.1), -2em -0.21000000000000002em 0 0.1em rgba(255, 255, 255, 0.1), 2em -1.5em 0 0.04em rgba(255, 255, 255, 0.1), 2.5em -2em 0 0.2em rgba(255, 255, 255, 0.1), 8em -8em 0 0.01em rgba(255, 255, 255, 0.1), 2.5em -3em 0 0.04em rgba(255, 255, 255, 0.1), 3em -0.26em 0 0.03333333333333333em rgba(255, 255, 255, 0.1), -5em -5em 0 0.03333333333333333em rgba(255, 255, 255, 0.1), 5em -3.5em 0 0.1em rgba(255, 255, 255, 0.1), 0.1em -3em 0 0.2em rgba(255, 255, 255, 0.1);
   }
   35% {
      top: 18%;
      background: rgba(255, 255, 255, 0.1);
      box-shadow: -0.4em 0.4em 0 0.06666666666666667em rgba(255, 255, 255, 0.1), -8em 0.4em 0 0.1em rgba(255, 255, 255, 0.1), 8em 0.4em 0 0.04em rgba(255, 255, 255, 0.1), 10em 0.4em 0 0.2em rgba(255, 255, 255, 0.1), 32em 0.4em 0 0.01em rgba(255, 255, 255, 0.1), 12em 0.4em 0 0.04em rgba(255, 255, 255, 0.1), 12em 0.4em 0 0.03333333333333333em rgba(255, 255, 255, 0.1), -20em 0.4em 0 0.03333333333333333em rgba(255, 255, 255, 0.1), 20em 0.4em 0 0.1em rgba(255, 255, 255, 0.1), 0.4em 0.4em 0 0.2em rgba(255, 255, 255, 0.1);
   }
   40% {
      top: 18%;
      background: rgba(0, 0, 0, 0);
      box-shadow: -0.1em 0.1em 0 0.06666666666666667em rgba(0, 0, 0, 0), -2em 0.1em 0 0.1em rgba(0, 0, 0, 0), 2em 0.1em 0 0.04em rgba(0, 0, 0, 0), 2.5em 0.1em 0 0.2em rgba(0, 0, 0, 0), 8em 0.1em 0 0.01em rgba(0, 0, 0, 0), 3em 0.1em 0 0.04em rgba(0, 0, 0, 0), 3em 0.1em 0 0.03333333333333333em rgba(0, 0, 0, 0), -5em 0.1em 0 0.03333333333333333em rgba(0, 0, 0, 0), 5em 0.1em 0 0.1em rgba(0, 0, 0, 0), 0.1em 0.1em 0 0.2em rgba(0, 0, 0, 0);
   }
   100% {
      top: 18%;
      background: rgba(0, 0, 0, 0);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
   }
}
@keyframes drop-blue2 {
   3% {
      box-shadow: 0.1em -0.1em 0 0.05em #6f8bb4, 0.1em -0.2em 0 0.052631578947368425em #6f8bb4, 0.1em 0.30000000000000004em 0 0.05555555555555556em #6f8bb4, 0.1em 0.4em 0 0.08333333333333334em #6f8bb4, 0.1em 0.5em 0 0.09090909090909091em #6f8bb4, 0.1em 0.6000000000000001em 0 0.1em #6f8bb4, 0.1em 0.7000000000000001em 0 0.11111111111111112em #6f8bb4, 0.1em 0.8em 0 0.125em #6f8bb4, 0.1em 0.9em 0 0.14285714285714293em #6f8bb4, 0.1em 1em 0 0.16666666666666669em #6f8bb4;
   }
   15% {
      top: 85%;
      box-shadow: 0.1em 0.1em 0 0.10526315789473685em #6f8bb4, 0.1em 0.2em 0 0.11111111111111112em #6f8bb4, 0.1em 0.30000000000000004em 0 0.11764705932352942em #6f8bb4, 0.1em 0.4em 0 0.125em #6f8bb4, 0.1em 0.5em 0 0.13333333333333333em #6f8bb4, 0.1em 0.6000000000000001em 0 0.14285714285714293em #6f8bb4, 0.1em 0.7000000000000001em 0 0.15384615384615385em #6f8bb4, 0.1em 0.8em 0 0.16666666666666669em #6f8bb4, 0.1em 0.9em 0 0.18181818181818182em #6f8bb4, 0.1em 1em 0 0.2em #6f8bb4;
   }
   25% {
      top: 85%;
      background: rgba(255, 255, 255, 0.1);
      box-shadow: -0.1em 0.1em 0 0.06666666666666667em rgba(255, 255, 255, 0.1), -2em -0.21000000000000002em 0 0.1em rgba(255, 255, 255, 0.1), 2em -1.5em 0 0.04em rgba(255, 255, 255, 0.1), 2.5em -2em 0 0.2em rgba(255, 255, 255, 0.1), 8em -8em 0 0.01em rgba(255, 255, 255, 0.1), 2.5em -3em 0 0.04em rgba(255, 255, 255, 0.1), 3em -0.26em 0 0.03333333333333333em rgba(255, 255, 255, 0.1), -5em -5em 0 0.03333333333333333em rgba(255, 255, 255, 0.1), 5em -3.5em 0 0.1em rgba(255, 255, 255, 0.1), 0.1em -3em 0 0.2em rgba(255, 255, 255, 0.1);
   }
   35% {
      top: 85%;
      background: rgba(255, 255, 255, 0.1);
      box-shadow: -0.4em 0.4em 0 0.06666666666666667em rgba(255, 255, 255, 0.1), -8em 0.4em 0 0.1em rgba(255, 255, 255, 0.1), 8em 0.4em 0 0.04em rgba(255, 255, 255, 0.1), 10em 0.4em 0 0.2em rgba(255, 255, 255, 0.1), 32em 0.4em 0 0.01em rgba(255, 255, 255, 0.1), 12em 0.4em 0 0.04em rgba(255, 255, 255, 0.1), 12em 0.4em 0 0.03333333333333333em rgba(255, 255, 255, 0.1), -20em 0.4em 0 0.03333333333333333em rgba(255, 255, 255, 0.1), 20em 0.4em 0 0.1em rgba(255, 255, 255, 0.1), 0.4em 0.4em 0 0.2em rgba(255, 255, 255, 0.1);
   }
   40% {
      top: 85%;
      background: rgba(0, 0, 0, 0);
      box-shadow: -0.1em 0.1em 0 0.06666666666666667em rgba(0, 0, 0, 0), -2em 0.1em 0 0.1em rgba(0, 0, 0, 0), 2em 0.1em 0 0.04em rgba(0, 0, 0, 0), 2.5em 0.1em 0 0.2em rgba(0, 0, 0, 0), 8em 0.1em 0 0.01em rgba(0, 0, 0, 0), 3em 0.1em 0 0.04em rgba(0, 0, 0, 0), 3em 0.1em 0 0.03333333333333333em rgba(0, 0, 0, 0), -5em 0.1em 0 0.03333333333333333em rgba(0, 0, 0, 0), 5em 0.1em 0 0.1em rgba(0, 0, 0, 0), 0.1em 0.1em 0 0.2em rgba(0, 0, 0, 0);
   }
   100% {
      top: 85%;
      background: rgba(0, 0, 0, 0);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
   }
}
@-webkit-keyframes drop-blue2 {
   3% {
      box-shadow: 0.1em -0.1em 0 0.05em #6f8bb4, 0.1em -0.2em 0 0.052631578947368425em #6f8bb4, 0.1em 0.30000000000000004em 0 0.05555555555555556em #6f8bb4, 0.1em 0.4em 0 0.08333333333333334em #6f8bb4, 0.1em 0.5em 0 0.09090909090909091em #6f8bb4, 0.1em 0.6000000000000001em 0 0.1em #6f8bb4, 0.1em 0.7000000000000001em 0 0.11111111111111112em #6f8bb4, 0.1em 0.8em 0 0.125em #6f8bb4, 0.1em 0.9em 0 0.14285714285714293em #6f8bb4, 0.1em 1em 0 0.16666666666666669em #6f8bb4;
   }
   15% {
      top: 85%;
      box-shadow: 0.1em 0.1em 0 0.10526315789473685em #6f8bb4, 0.1em 0.2em 0 0.11111111111111112em #6f8bb4, 0.1em 0.30000000000000004em 0 0.11764705932352942em #6f8bb4, 0.1em 0.4em 0 0.125em #6f8bb4, 0.1em 0.5em 0 0.13333333333333333em #6f8bb4, 0.1em 0.6000000000000001em 0 0.14285714285714293em #6f8bb4, 0.1em 0.7000000000000001em 0 0.15384615384615385em #6f8bb4, 0.1em 0.8em 0 0.16666666666666669em #6f8bb4, 0.1em 0.9em 0 0.18181818181818182em #6f8bb4, 0.1em 1em 0 0.2em #6f8bb4;
   }
   25% {
      top: 85%;
      background: rgba(255, 255, 255, 0.1);
      box-shadow: -0.1em 0.1em 0 0.06666666666666667em rgba(255, 255, 255, 0.1), -2em -0.21000000000000002em 0 0.1em rgba(255, 255, 255, 0.1), 2em -1.5em 0 0.04em rgba(255, 255, 255, 0.1), 2.5em -2em 0 0.2em rgba(255, 255, 255, 0.1), 8em -8em 0 0.01em rgba(255, 255, 255, 0.1), 2.5em -3em 0 0.04em rgba(255, 255, 255, 0.1), 3em -0.26em 0 0.03333333333333333em rgba(255, 255, 255, 0.1), -5em -5em 0 0.03333333333333333em rgba(255, 255, 255, 0.1), 5em -3.5em 0 0.1em rgba(255, 255, 255, 0.1), 0.1em -3em 0 0.2em rgba(255, 255, 255, 0.1);
   }
   35% {
      top: 85%;
      background: rgba(255, 255, 255, 0.1);
      box-shadow: -0.4em 0.4em 0 0.06666666666666667em rgba(255, 255, 255, 0.1), -8em 0.4em 0 0.1em rgba(255, 255, 255, 0.1), 8em 0.4em 0 0.04em rgba(255, 255, 255, 0.1), 10em 0.4em 0 0.2em rgba(255, 255, 255, 0.1), 32em 0.4em 0 0.01em rgba(255, 255, 255, 0.1), 12em 0.4em 0 0.04em rgba(255, 255, 255, 0.1), 12em 0.4em 0 0.03333333333333333em rgba(255, 255, 255, 0.1), -20em 0.4em 0 0.03333333333333333em rgba(255, 255, 255, 0.1), 20em 0.4em 0 0.1em rgba(255, 255, 255, 0.1), 0.4em 0.4em 0 0.2em rgba(255, 255, 255, 0.1);
   }
   40% {
      top: 85%;
      background: rgba(0, 0, 0, 0);
      box-shadow: -0.1em 0.1em 0 0.06666666666666667em rgba(0, 0, 0, 0), -2em 0.1em 0 0.1em rgba(0, 0, 0, 0), 2em 0.1em 0 0.04em rgba(0, 0, 0, 0), 2.5em 0.1em 0 0.2em rgba(0, 0, 0, 0), 8em 0.1em 0 0.01em rgba(0, 0, 0, 0), 3em 0.1em 0 0.04em rgba(0, 0, 0, 0), 3em 0.1em 0 0.03333333333333333em rgba(0, 0, 0, 0), -5em 0.1em 0 0.03333333333333333em rgba(0, 0, 0, 0), 5em 0.1em 0 0.1em rgba(0, 0, 0, 0), 0.1em 0.1em 0 0.2em rgba(0, 0, 0, 0);
   }
   100% {
      top: 85%;
      background: rgba(0, 0, 0, 0);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
   }
}





.raindrop-white{
   background: #ffffff;
   border-radius: 100%;
   box-shadow: 0 0 0 0.2em #ffffff, 0 0 0 0.2em #ffffff, 0 0 0 0.2em #ffffff, 0 0 0 0.2em #ffffff, 0 0 0 0.2em #ffffff, 0 0 0 0.2em #ffffff, 0 0 0 0.2em #ffffff, 0 0 0 0.2em #ffffff, 0 0 0 0.2em #ffffff, 0 0 0 0.2em #ffffff;
   animation: drop-white 3s cubic-bezier(0, 0, 1, 0.5) ;
   animation-delay : 2s; 
   left: 48%;
}
@keyframes drop-white {
   3% {
      box-shadow: 0.1em -0.1em 0 0.05em #ffffff, 0.1em -0.2em 0 0.052631578947368425em #ffffff, 0.1em 0.30000000000000004em 0 0.05555555555555556em #ffffff, 0.1em 0.4em 0 0.08333333333333334em #ffffff, 0.1em 0.5em 0 0.09090909090909091em #ffffff, 0.1em 0.6000000000000001em 0 0.1em #ffffff, 0.1em 0.7000000000000001em 0 0.11111111111111112em #ffffff, 0.1em 0.8em 0 0.125em #ffffff, 0.1em 0.9em 0 0.14285714285714293em #ffffff, 0.1em 1em 0 0.16666666666666669em #ffffff;
   }
   15% {
      top: 28%;
      box-shadow: 0.1em 0.1em 0 0.10526315789473685em #ffffff, 0.1em 0.2em 0 0.11111111111111112em #ffffff, 0.1em 0.30000000000000004em 0 0.11764705932352942em #ffffff, 0.1em 0.4em 0 0.125em #ffffff, 0.1em 0.5em 0 0.13333333333333333em #ffffff, 0.1em 0.6000000000000001em 0 0.14285714285714293em #ffffff, 0.1em 0.7000000000000001em 0 0.15384615384615385em #ffffff, 0.1em 0.8em 0 0.16666666666666669em #ffffff, 0.1em 0.9em 0 0.18181818181818182em #ffffff, 0.1em 1em 0 0.2em #ffffff;
   }
   25% {
      top: 28%;
      background: rgba(255, 255, 255, 0.1);
      box-shadow: -0.1em 0.1em 0 0.06666666666666667em rgba(255, 255, 255, 0.1), -2em -0.21000000000000002em 0 0.1em rgba(255, 255, 255, 0.1), 2em -1.5em 0 0.04em rgba(255, 255, 255, 0.1), 2.5em -2em 0 0.2em rgba(255, 255, 255, 0.1), 8em -8em 0 0.01em rgba(255, 255, 255, 0.1), 2.5em -3em 0 0.04em rgba(255, 255, 255, 0.1), 3em -0.26em 0 0.03333333333333333em rgba(255, 255, 255, 0.1), -5em -5em 0 0.03333333333333333em rgba(255, 255, 255, 0.1), 5em -3.5em 0 0.1em rgba(255, 255, 255, 0.1), 0.1em -3em 0 0.2em rgba(255, 255, 255, 0.1);
   }
   35% {
      top: 28%;
      background: rgba(255, 255, 255, 0.1);
      box-shadow: -0.4em 0.4em 0 0.06666666666666667em rgba(255, 255, 255, 0.1), -8em 0.4em 0 0.1em rgba(255, 255, 255, 0.1), 8em 0.4em 0 0.04em rgba(255, 255, 255, 0.1), 10em 0.4em 0 0.2em rgba(255, 255, 255, 0.1), 32em 0.4em 0 0.01em rgba(255, 255, 255, 0.1), 12em 0.4em 0 0.04em rgba(255, 255, 255, 0.1), 12em 0.4em 0 0.03333333333333333em rgba(255, 255, 255, 0.1), -20em 0.4em 0 0.03333333333333333em rgba(255, 255, 255, 0.1), 20em 0.4em 0 0.1em rgba(255, 255, 255, 0.1), 0.4em 0.4em 0 0.2em rgba(255, 255, 255, 0.1);
   }
   40% {
      top: 28%;
      background: rgba(0, 0, 0, 0);
      box-shadow: -0.1em 0.1em 0 0.06666666666666667em rgba(0, 0, 0, 0), -2em 0.1em 0 0.1em rgba(0, 0, 0, 0), 2em 0.1em 0 0.04em rgba(0, 0, 0, 0), 2.5em 0.1em 0 0.2em rgba(0, 0, 0, 0), 8em 0.1em 0 0.01em rgba(0, 0, 0, 0), 3em 0.1em 0 0.04em rgba(0, 0, 0, 0), 3em 0.1em 0 0.03333333333333333em rgba(0, 0, 0, 0), -5em 0.1em 0 0.03333333333333333em rgba(0, 0, 0, 0), 5em 0.1em 0 0.1em rgba(0, 0, 0, 0), 0.1em 0.1em 0 0.2em rgba(0, 0, 0, 0);
   }
   100% {
      top: 28%;
      background: rgba(0, 0, 0, 0);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
   }
}
@-webkit-keyframes drop-white {
   3% {
      box-shadow: 0.1em -0.1em 0 0.05em #ffffff, 0.1em -0.2em 0 0.052631578947368425em #ffffff, 0.1em 0.30000000000000004em 0 0.05555555555555556em #ffffff, 0.1em 0.4em 0 0.08333333333333334em #ffffff, 0.1em 0.5em 0 0.09090909090909091em #ffffff, 0.1em 0.6000000000000001em 0 0.1em #ffffff, 0.1em 0.7000000000000001em 0 0.11111111111111112em #ffffff, 0.1em 0.8em 0 0.125em #ffffff, 0.1em 0.9em 0 0.14285714285714293em #ffffff, 0.1em 1em 0 0.16666666666666669em #ffffff;
   }
   15% {
      top: 28%;
      box-shadow: 0.1em 0.1em 0 0.10526315789473685em #ffffff, 0.1em 0.2em 0 0.11111111111111112em #ffffff, 0.1em 0.30000000000000004em 0 0.11764705932352942em #ffffff, 0.1em 0.4em 0 0.125em #ffffff, 0.1em 0.5em 0 0.13333333333333333em #ffffff, 0.1em 0.6000000000000001em 0 0.14285714285714293em #ffffff, 0.1em 0.7000000000000001em 0 0.15384615384615385em #ffffff, 0.1em 0.8em 0 0.16666666666666669em #ffffff, 0.1em 0.9em 0 0.18181818181818182em #ffffff, 0.1em 1em 0 0.2em #ffffff;
   }
   25% {
      top: 28%;
      background: rgba(255, 255, 255, 0.1);
      box-shadow: -0.1em 0.1em 0 0.06666666666666667em rgba(255, 255, 255, 0.1), -2em -0.21000000000000002em 0 0.1em rgba(255, 255, 255, 0.1), 2em -1.5em 0 0.04em rgba(255, 255, 255, 0.1), 2.5em -2em 0 0.2em rgba(255, 255, 255, 0.1), 8em -8em 0 0.01em rgba(255, 255, 255, 0.1), 2.5em -3em 0 0.04em rgba(255, 255, 255, 0.1), 3em -0.26em 0 0.03333333333333333em rgba(255, 255, 255, 0.1), -5em -5em 0 0.03333333333333333em rgba(255, 255, 255, 0.1), 5em -3.5em 0 0.1em rgba(255, 255, 255, 0.1), 0.1em -3em 0 0.2em rgba(255, 255, 255, 0.1);
   }
   35% {
      top: 28%;
      background: rgba(255, 255, 255, 0.1);
      box-shadow: -0.4em 0.4em 0 0.06666666666666667em rgba(255, 255, 255, 0.1), -8em 0.4em 0 0.1em rgba(255, 255, 255, 0.1), 8em 0.4em 0 0.04em rgba(255, 255, 255, 0.1), 10em 0.4em 0 0.2em rgba(255, 255, 255, 0.1), 32em 0.4em 0 0.01em rgba(255, 255, 255, 0.1), 12em 0.4em 0 0.04em rgba(255, 255, 255, 0.1), 12em 0.4em 0 0.03333333333333333em rgba(255, 255, 255, 0.1), -20em 0.4em 0 0.03333333333333333em rgba(255, 255, 255, 0.1), 20em 0.4em 0 0.1em rgba(255, 255, 255, 0.1), 0.4em 0.4em 0 0.2em rgba(255, 255, 255, 0.1);
   }
   40% {
      top: 28%;
      background: rgba(0, 0, 0, 0);
      box-shadow: -0.1em 0.1em 0 0.06666666666666667em rgba(0, 0, 0, 0), -2em 0.1em 0 0.1em rgba(0, 0, 0, 0), 2em 0.1em 0 0.04em rgba(0, 0, 0, 0), 2.5em 0.1em 0 0.2em rgba(0, 0, 0, 0), 8em 0.1em 0 0.01em rgba(0, 0, 0, 0), 3em 0.1em 0 0.04em rgba(0, 0, 0, 0), 3em 0.1em 0 0.03333333333333333em rgba(0, 0, 0, 0), -5em 0.1em 0 0.03333333333333333em rgba(0, 0, 0, 0), 5em 0.1em 0 0.1em rgba(0, 0, 0, 0), 0.1em 0.1em 0 0.2em rgba(0, 0, 0, 0);
   }
   100% {
      top: 28%;
      background: rgba(0, 0, 0, 0);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
   }
}

.raindrop-red{
   background: #d73526;
   border-radius: 100%;
   box-shadow: 0 0 0 0.2em #d73526, 0 0 0 0.2em #d73526, 0 0 0 0.2em #d73526, 0 0 0 0.2em #d73526, 0 0 0 0.2em #d73526, 0 0 0 0.2em #d73526, 0 0 0 0.2em #d73526, 0 0 0 0.2em #d73526, 0 0 0 0.2em #d73526, 0 0 0 0.2em #d73526;
   animation: drop-red 3s cubic-bezier(0, 0, 1, 0.5) ;
   left: 48%;
   animation-delay : 2.6s;
}
@keyframes drop-red {
   3% {
      box-shadow: 0.1em -0.1em 0 0.05em #d73526, 0.1em -0.2em 0 0.052631578947368425em #d73526, 0.1em 0.30000000000000004em 0 0.05555555555555556em #d73526, 0.1em 0.4em 0 0.08333333333333334em #d73526, 0.1em 0.5em 0 0.09090909090909091em #d73526, 0.1em 0.6000000000000001em 0 0.1em #d73526, 0.1em 0.7000000000000001em 0 0.11111111111111112em #d73526, 0.1em 0.8em 0 0.125em #d73526, 0.1em 0.9em 0 0.14285714285714293em #d73526, 0.1em 1em 0 0.16666666666666669em #d73526;
   }
   15% {
      top: 75%;
      box-shadow: 0.1em 0.1em 0 0.10526315789473685em #d73526, 0.1em 0.2em 0 0.11111111111111112em #d73526, 0.1em 0.30000000000000004em 0 0.11764705932352942em #d73526, 0.1em 0.4em 0 0.125em #d73526, 0.1em 0.5em 0 0.13333333333333333em #d73526, 0.1em 0.6000000000000001em 0 0.14285714285714293em #d73526, 0.1em 0.7000000000000001em 0 0.15384615384615385em #d73526, 0.1em 0.8em 0 0.16666666666666669em #d73526, 0.1em 0.9em 0 0.18181818181818182em #d73526, 0.1em 1em 0 0.2em #d73526;
   }
   25% {
      top: 75%;
      background: rgba(255, 255, 255, 0.1);
      box-shadow: -0.1em 0.1em 0 0.06666666666666667em rgba(255, 255, 255, 0.1), -2em -0.21000000000000002em 0 0.1em rgba(255, 255, 255, 0.1), 2em -1.5em 0 0.04em rgba(255, 255, 255, 0.1), 2.5em -2em 0 0.2em rgba(255, 255, 255, 0.1), 8em -8em 0 0.01em rgba(255, 255, 255, 0.1), 2.5em -3em 0 0.04em rgba(255, 255, 255, 0.1), 3em -0.26em 0 0.03333333333333333em rgba(255, 255, 255, 0.1), -5em -5em 0 0.03333333333333333em rgba(255, 255, 255, 0.1), 5em -3.5em 0 0.1em rgba(255, 255, 255, 0.1), 0.1em -3em 0 0.2em rgba(255, 255, 255, 0.1);
   }
   35% {
      top: 75%;
      background: rgba(255, 255, 255, 0.1);
      box-shadow: -0.4em 0.4em 0 0.06666666666666667em rgba(255, 255, 255, 0.1), -8em 0.4em 0 0.1em rgba(255, 255, 255, 0.1), 8em 0.4em 0 0.04em rgba(255, 255, 255, 0.1), 10em 0.4em 0 0.2em rgba(255, 255, 255, 0.1), 32em 0.4em 0 0.01em rgba(255, 255, 255, 0.1), 12em 0.4em 0 0.04em rgba(255, 255, 255, 0.1), 12em 0.4em 0 0.03333333333333333em rgba(255, 255, 255, 0.1), -20em 0.4em 0 0.03333333333333333em rgba(255, 255, 255, 0.1), 20em 0.4em 0 0.1em rgba(255, 255, 255, 0.1), 0.4em 0.4em 0 0.2em rgba(255, 255, 255, 0.1);
   }
   40% {
      top: 75%;
      background: rgba(0, 0, 0, 0);
      box-shadow: -0.1em 0.1em 0 0.06666666666666667em rgba(0, 0, 0, 0), -2em 0.1em 0 0.1em rgba(0, 0, 0, 0), 2em 0.1em 0 0.04em rgba(0, 0, 0, 0), 2.5em 0.1em 0 0.2em rgba(0, 0, 0, 0), 8em 0.1em 0 0.01em rgba(0, 0, 0, 0), 3em 0.1em 0 0.04em rgba(0, 0, 0, 0), 3em 0.1em 0 0.03333333333333333em rgba(0, 0, 0, 0), -5em 0.1em 0 0.03333333333333333em rgba(0, 0, 0, 0), 5em 0.1em 0 0.1em rgba(0, 0, 0, 0), 0.1em 0.1em 0 0.2em rgba(0, 0, 0, 0);
   }
   100% {
      top: 75%;
      background: rgba(0, 0, 0, 0);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
   }
}
@-webkit-keyframes drop-red {
   3% {
      box-shadow: 0.1em -0.1em 0 0.05em #d73526, 0.1em -0.2em 0 0.052631578947368425em #d73526, 0.1em 0.30000000000000004em 0 0.05555555555555556em #d73526, 0.1em 0.4em 0 0.08333333333333334em #d73526, 0.1em 0.5em 0 0.09090909090909091em #d73526, 0.1em 0.6000000000000001em 0 0.1em #d73526, 0.1em 0.7000000000000001em 0 0.11111111111111112em #d73526, 0.1em 0.8em 0 0.125em #d73526, 0.1em 0.9em 0 0.14285714285714293em #d73526, 0.1em 1em 0 0.16666666666666669em #d73526;
   }
   15% {
      top: 75%;
      box-shadow: 0.1em 0.1em 0 0.10526315789473685em #d73526, 0.1em 0.2em 0 0.11111111111111112em #d73526, 0.1em 0.30000000000000004em 0 0.11764705932352942em #d73526, 0.1em 0.4em 0 0.125em #d73526, 0.1em 0.5em 0 0.13333333333333333em #d73526, 0.1em 0.6000000000000001em 0 0.14285714285714293em #d73526, 0.1em 0.7000000000000001em 0 0.15384615384615385em #d73526, 0.1em 0.8em 0 0.16666666666666669em #d73526, 0.1em 0.9em 0 0.18181818181818182em #d73526, 0.1em 1em 0 0.2em #d73526;
   }
   25% {
      top: 75%;
      background: rgba(255, 255, 255, 0.1);
      box-shadow: -0.1em 0.1em 0 0.06666666666666667em rgba(255, 255, 255, 0.1), -2em -0.21000000000000002em 0 0.1em rgba(255, 255, 255, 0.1), 2em -1.5em 0 0.04em rgba(255, 255, 255, 0.1), 2.5em -2em 0 0.2em rgba(255, 255, 255, 0.1), 8em -8em 0 0.01em rgba(255, 255, 255, 0.1), 2.5em -3em 0 0.04em rgba(255, 255, 255, 0.1), 3em -0.26em 0 0.03333333333333333em rgba(255, 255, 255, 0.1), -5em -5em 0 0.03333333333333333em rgba(255, 255, 255, 0.1), 5em -3.5em 0 0.1em rgba(255, 255, 255, 0.1), 0.1em -3em 0 0.2em rgba(255, 255, 255, 0.1);
   }
   35% {
      top: 75%;
      background: rgba(255, 255, 255, 0.1);
      box-shadow: -0.4em 0.4em 0 0.06666666666666667em rgba(255, 255, 255, 0.1), -8em 0.4em 0 0.1em rgba(255, 255, 255, 0.1), 8em 0.4em 0 0.04em rgba(255, 255, 255, 0.1), 10em 0.4em 0 0.2em rgba(255, 255, 255, 0.1), 32em 0.4em 0 0.01em rgba(255, 255, 255, 0.1), 12em 0.4em 0 0.04em rgba(255, 255, 255, 0.1), 12em 0.4em 0 0.03333333333333333em rgba(255, 255, 255, 0.1), -20em 0.4em 0 0.03333333333333333em rgba(255, 255, 255, 0.1), 20em 0.4em 0 0.1em rgba(255, 255, 255, 0.1), 0.4em 0.4em 0 0.2em rgba(255, 255, 255, 0.1);
   }
   40% {
      top: 75%;
      background: rgba(0, 0, 0, 0);
      box-shadow: -0.1em 0.1em 0 0.06666666666666667em rgba(0, 0, 0, 0), -2em 0.1em 0 0.1em rgba(0, 0, 0, 0), 2em 0.1em 0 0.04em rgba(0, 0, 0, 0), 2.5em 0.1em 0 0.2em rgba(0, 0, 0, 0), 8em 0.1em 0 0.01em rgba(0, 0, 0, 0), 3em 0.1em 0 0.04em rgba(0, 0, 0, 0), 3em 0.1em 0 0.03333333333333333em rgba(0, 0, 0, 0), -5em 0.1em 0 0.03333333333333333em rgba(0, 0, 0, 0), 5em 0.1em 0 0.1em rgba(0, 0, 0, 0), 0.1em 0.1em 0 0.2em rgba(0, 0, 0, 0);
   }
   100% {
      top: 75%;
      background: rgba(0, 0, 0, 0);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
   }
}

.p1-line1{ top: 0; }
.p1-line2{ bottom: 0; }
.p1-line1, .p1-line2{ 
   opacity: 0; 
   animation:p1-line1 1s ease-in; 
   -webkit-animation:p1-line1 1s ease-in; 
   animation-delay : 3.1s; 
   animation-fill-mode：forwards; 
   -webkit-animation-fill-mode:forwards;
}

@keyframes p1-line1{
   0%    { opacity: 0; }
   100%  { opacity: 1; }
}


.p1-img1{ opacity: 0;
   animation:p1-line1 1s ease-in; 
   -webkit-animation:p1-line1 1s ease-in; 
   animation-delay : 4.3s; 
   animation-fill-mode：forwards; 
   -webkit-animation-fill-mode:forwards;
   z-index: 9;
}




#page1 .ball1{ width: 23%; top: 50%; left: -30%;
   animation:ball1 1s ease-in; 
   -webkit-animation:ball1 40s ease-in; 
   animation-delay : 1.3s; 
   animation-fill-mode：forwards; 
   -webkit-animation-fill-mode:forwards;
   z-index: 7;
}
#page1 .ball2{ width: 25%; top: 150%; left: 20%;
   animation:ball1 1s ease-in; 
   -webkit-animation:ball2 40s ease-in; 
   animation-delay : 1s; 
   animation-fill-mode：forwards; 
   -webkit-animation-fill-mode:forwards;
   z-index: 7;
}
#page1 .ball3{ width: 30%; top: -50%; left: -50%;
   animation:ball1 1s ease-in; 
   -webkit-animation:ball3 40s ease-in; 
   animation-delay : 1s; 
   animation-fill-mode：forwards; 
   -webkit-animation-fill-mode:forwards;
   z-index: 7;
}

@keyframes ball1{
   0%    { left: -30%; top: 50%; }
   50%  { left:  100%; top: 30%;} 
   100%    { left: -30%; top: 50%; }
}

@keyframes ball2{
   0%    { left: 20%; top: 150%; }
   50%  { left:  20%; top: -30%;} 
   100%    { left: 20%; top: 150%; }
}

@keyframes ball3{
   0%    { left: -20%; top: -50%;}
   25%   { left: 100%; top: 40%; }
   50%  { left: -50%; top: 80%;} 
   100%    { left: -20%; top: -50%;}
}

/*.part1{ 
   opacity: 1;
   animation:part1 1s ease-in; 
   -webkit-animation:part1 1.8s ease-in; 
   animation-delay : 9s; 
   animation-fill-mode：forwards; 
   -webkit-animation-fill-mode:forwards;
   z-index: 7;  
}*/
@keyframes part1{
   0%    { opacity: 1; }
   100%  { opacity: 0; } 
}


.part2{ 
   opacity: 0;
   animation:part2 1s ease-in; 
   -webkit-animation:part2 3s ease-in; 
   animation-delay : 8.5s; 
   animation-fill-mode：forwards; 
   -webkit-animation-fill-mode:forwards;
   z-index: 12;  position: absolute;
}
@keyframes part2{
   0%    { opacity: 0; }
   100%  { opacity: 1; } 
}

.page img{ width: 100%; }

#page1 .logo{ width: 70%; transform: translate(-50%, -50%); left: 46%; top:90%; opacity: 0;
   animation:p1-line1 1s ease-in; 
   -webkit-animation:p1-line1 1s ease-in; 
   animation-delay : 4.3s; 
   animation-fill-mode：forwards; 
   -webkit-animation-fill-mode:forwards;
   z-index: 9;
}

#page0{
   background: url(../images/p0_bg.jpg) no-repeat;
   background-size: cover;
}
#page2, #page6 {
   background: url(../images/p2_bg.jpg) no-repeat;
   background-size: cover;
}

#page3, #page7, #page8, #page9 {
   background: url(../images/p3_bg.jpg) no-repeat;
   background-size: cover;
}
#page4, #page5{
   background: url(../images/p4_bg.jpg) no-repeat;
   background-size: cover;
}

.down{
   opacity: 0;
   left: 50% !important;
   bottom: 1%;
   width: 3% !important;
   animation:down 2s ease-in infinite; 
   -webkit-animation:down 2s ease-in infinite; 
   z-index: 9;
}

@keyframes down{
   0% { opacity: 0; }
   50%{ opacity: 1; }
   100%{ opacity: 0; }
}


/*播放器按钮*/
.rotate{animation: rotate 2.5s 0.5s linear infinite;-webkit-animation: rotate 5s 0.5s linear infinite;}
@keyframes rotate{
   0%{opacity: 1;}
   100%{transform: rotate(360deg);-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);opacity: 1;}
}
@-webkit-keyframes rotate{
   0%{opacity: 1;}
   100%{transform: rotate(360deg);-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);opacity: 1;}
}


.pageLoading{
			position: absolute;
			width:100%;
			height:100%;
			z-index: 300;
			background: #2b2d30;
			color:#fff;
		}
		.pageLoading img {
			width: 100%;
			position: relative;
		}
		.pageLoading p {
			position: absolute;
			height: 20px;
			text-align: center;
			margin-top: 30%;
			width:100%;
			font-size:20px;
			line-height:2em;
			font-size:14px;
		}
		a.btnSound{
			display: block;
			width:32px;
			height:32px;
			position: absolute;
			z-index: 2;
			top:5%;
			left:5%;
			overflow:hidden;
			background:#fff;
			border:solid 2px #ccc;
			border-radius: 10px;
			opacity: 0.8;
			padding:6px;
		}
		a.btnSound img{
			width:100%;
		}
		img.toPlay{
			display: none;
		}
		.pageLoading p span{
			display:block;
		}
		a.btnEnter{
			display:inline-block;
			color:#fff;
			height: 20px;
			text-align: center;
			margin-top: 30px;
			width: 50px;
			border:solid 1px #ccc;
			font-size: 14px;
			line-height: 20px;
			font-size: 14px;
			padding:2px 5px;
			display:none;

		}
		.btnMusic {
			position: absolute;
			right: 6px;
			top: 6px;
			display: block;
			width: 10%;
			z-index:100;
		}

@media screen and (max-width: 320px) {
    html{font-size: 12px;}
}
