html,body{width: 100%;height: 100%;overflow: hidden;font-size: 20px;color: #fff;margin: 0;padding: 0;}
.fullpage,#loadpage,.secpage{width: 100%;height: 100%;overflow: hidden;position: absolute;left: 0;top: 0}
#loadpage{z-index: 1000;}#page1{z-index: 200;opacity: 0}
#loadpage img{position: absolute;display: block;width: 100%;left: 0;}.ani{top: 0;z-index: 2;width: 100%;position: absolute;}.btani{bottom: 0;top: auto;z-index: 3;}#btn{z-index: 4;}
#loadpage{background: url(images/p0_0.jpg) no-repeat center top;background-size: 100% 100%}
.p0_1{top: 4%}#loadpage img.p0_9{position: initial}#loadpage img.p0_8{position: initial}
#page1{background: url(images/p1_0.jpg) no-repeat center top;background-size: 100% 100%}

/*know*/
.know{width: 100%;height: 100%;overflow: hidden;position: absolute;background: rgba(0,0,0,0.9);background-size: 100% 100%;
top: 0;left: 0;z-index: 200;display: none;}

/*picbox*/
#picbox{width: 300px;height: 300px;background: url('tuku/pic1.jpg');position: relative;margin: 0 auto;margin-top:52%;border: solid 10px #fff;border-radius: 13px;z-index: 100}
.pic{width: 100px;height: 100px;float: left;background: url('tuku/pic1.jpg');position: absolute;transition: all 0.5s ease 0s;padding: 0;margin-bottom: 0;z-index: 100;}
#go{background: rgba(38,38,38,.5);position: absolute;
    left: 0;top: 0;width: 100%;height: 100%;text-align: center;line-height: 300px;vertical-align: middle;    z-index: 102;}
#go div:nth-child(1){width: 100px;height: 100px;border: 10px solid #999;border-radius: 50%;position: absolute;
    top: 85px;left: 90px;}
#go div:nth-child(2):after{
	position: absolute;border-width:25px 36px 23px 29px;border-color:transparent transparent transparent #999999 ;  border-style:solid;content: '';
	left: 142px;top: 120px;}

.message{margin: 1% auto;width: 300px;height: 80px;position: relative;}
#dizhi{position: absolute;left: -12px;background: url(images/p1_4.png) no-repeat left center;top: 22%;background-size: 22px 30px;padding-left: 32px;}
#times{width: 100px;height: 38px;background:#5192be url(images/p1_3.png) no-repeat 11px center;position: absolute;top: 16%;border-radius: 220px;
	background-size: 30px 30px;right: -12px;    text-indent: 44px;line-height: 40px;}
.tishi{position: absolute;bottom: 0;left: 0;width: 100%;height: 60px;z-index: 20;background: url(images/p1_5.png) no-repeat center bottom;background-size:  100%;}
.tishi img{    width: 100%;position: absolute;bottom: 0;}
.tishi ul{width: 300px;height: 30px;display: flex;flex-wrap: wrap;margin: 0 auto;list-style: none;margin-top: 32px;}
.tishi ul li{width: 36px;height: 14px;background:#246798;list-style: none;margin-left: 12px;border-radius: 20px;}
.tishi ul li.cur{background: #e23d00;}
.tishi ul li:nth-child(1){    margin-left: 11%;}
/*success*/
#success{width: 100%;height: 100%;overflow: hidden;position: absolute;background: rgba(0,0,0,0.9);background-size: 100% 100%;
top: 0;left: 0;z-index: 200;display: none;}
.fz{width: 86%;margin: 0 auto;margin-top: 28%;    text-align: right;}
.fz p.js{    font-size: 0.8em;}
.fztp{background: #fff;min-height: 300px;border-radius: 5px;}
.fztp img.picfz{width: 96%;margin:2%;}
p{margin-top: 10px;margin-bottom: 15px;}
.dz{color: #000;background: url(images/p1_4.png) no-repeat left center;height: 34px;background-size: 22px 30px;padding-left: 32px;text-align: left;    line-height: 38px;
    font-size: 1.1em;}
.fztp ul{display: flex;width: 96%;flex-wrap: nowrap;    -webkit-margin-before: 0em;-webkit-margin-after: 0em;
    -webkit-padding-start: 2%;list-style: none;min-height: 100px;}.fztp ul li img{width: 100%;}
.fztp ul li{width: 48%;list-style: none;    margin-top: 25px;}.fztp ul li+li{padding-left: 4%}
.intro{color: #6d6d6d;text-align: left; background: url(images/p1_10.jpg) no-repeat right bottom;    min-height: 100px;display: none;font-size: 0.8em;margin-left: 1%;}
.fztp .fzdiv{position: relative;width: 100%;}

/*fail*/
#fail{width: 100%;height: 100%;background:rgba(0,0,0,0.9);background-size: 100% 100%;z-index: 202;position: absolute;left: 0;top: 0;display: none;}
#fail div{width: 86%;position: relative;margin: 0 auto;margin-top: 105%;}
#fail ul{display: flex;width: 96%;flex-wrap: nowrap;    -webkit-margin-before: 0em;-webkit-margin-after: 0em;
    -webkit-padding-start: 2%;list-style: none;}#fail ul li img{width: 100%;}
#fail ul li{width: 48%;list-style: none;    margin-top: 25px;}#fail ul li+li{padding-left: 4%}

/*page2*/
ul{-webkit-padding-start: 0px;    -webkit-margin-before: 0;-webkit-margin-after: 0;overflow: hidden;}
#page2{width: 100%;height: 100%;overflow: hidden;position: absolute;background: url(images/p2_0.jpg) no-repeat center top;background-size: 100% 100%;}
.bangdan{width: 86%;top:15%;min-height: 440px;position: absolute;left: 7%;z-index: 300;}
.bangdan ul{list-style: none;position: absolute;left: 0;top: 0;    width: 100%;    z-index: 300;}
.bangdan .paihang ul{top: 70px;}
.bangdan ul>li{list-style: none;width: 100%;height: 50px;border-bottom: solid 2px #8bc3ea;z-index: 300;}
.bangdan .guanjun ul li{height: 70px;border-bottom: none;}
.bangdan .guanjun ul li div{display: inline;float: left;width: 22%;text-align: center;font-size: 0.8em;}
.bangdan .guanjun ul li div.first{width: 56%;line-height: 68px;overflow: hidden;word-break: keep-all;text-indent: 36px;}
.bangdan .guanjun ul li div p{margin-top: 5px;margin-bottom: 5px;}
.bangdan .guanjun ul li div p:nth-child(1){margin-top: 10px;}

/*paihang*/
.bangdan .paihang ul{height: 262px;overflow-y: scroll;}
.bangdan .paihang ul li{margin-left: 35px;position: relative;margin-right: 15px;width: auto;}
.bangdan .paihang ul li img{left: -8%;width: 25px;top: 12px;}
.bangdan .paihang ul li span.listNum{position: absolute;left: -8%;width: 25px;top: 12px;color: #0670ba;font-weight: bold;    text-align: center;}
.bangdan .paihang ul li div.fir{width: 78%;line-height: 50px;overflow: hidden;word-break: keep-all;}
.bangdan .paihang ul li div{display: inline;float: left;width: 22%;text-align: center;font-size: 0.8em;}
.bangdan .paihang ul li div p{margin-top: 15px;color: #ff6101;font-weight: bold;}
#loadmore{position: absolute;top: 340px;width: 52%;left: 24%;text-align: center;height: 35px;line-height: 35px;background: #53a7d8;border-radius: 22px;font-size: 0.88em;}
.trynext{left: 7%;width: 94%;bottom: 2%;}
.trynext ul{display: flex;width: 92%;flex-wrap: nowrap;    }
.trynext ul li{width: 48%;list-style: none;    margin-top: 25px;}
.trynext ul li img{width: 100%;}
.trynext ul li+li{padding-left: 4%}

/*wdpm*/
.wdpm{width: 100%;height: 100%;background:rgba(0,0,0,0.9);background-size: 100% 100%;z-index: 400;position: absolute;left: 0;top: 0}
#fs{top: 37%;}#fs p{margin-top: 0;margin-bottom: 0;} 
#fenshu{font-size: 1.5em;color: #ff9a01;text-align: center;}
.mingci{height: 75px;background: url(images/p2_18.png) no-repeat center center;background-size: 100%;position: relative;}
.mingci>p{position: absolute;font-size: 1em;    font-size: 0.9em;    left: 14%;top: 12%;}
.mingci>p span{font-size: 0.85em;}
#close{width: 19%;right: 0;left: auto;}

/*fenxiang*/
.fenxiangPage{width: 100%;height: 100%;background:rgba(0,0,0,0.9);background-size: 100% 100%;z-index: 400;position: absolute;left: 0;top: 0}
/*iphone4  别忘了设置*/