*{margin:0;padding:0;}
html,body{height:100%;width: 100%;background: transparent;}
.swiper-container {width: 100%;height: 100%;background: url(img/p8bg.jpg)no-repeat center bottom; background-size: 100% 100%;}
.swiper-slide1{background: url(img/p1bg.jpg)no-repeat center bottom;background-size: 100% 100%;}
img{display:block;}
.ani{position:absolute;}
.rotate{animation: rotate 2.5s 0.5s linear infinite;-webkit-animation: rotate 5s 0.5s linear infinite;}
@keyframes rotate{
    0%{opacity: 1;}
    100%{transform: rotate(360deg);-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);opacity: 1;}
}
@-webkit-keyframes rotate{
     0%{opacity: 1;}
    100%{transform: rotate(360deg);-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);opacity: 1;}
}
.rotatenn{animation: rotatenn linear infinite;-webkit-animation: rotatenn linear infinite;}
@keyframes rotatenn{
    0%{opacity: 0;}
    100%{transform: rotate(360deg);-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);}
}
@-webkit-keyframes rotatenn{
    0%{opacity: 0;}
    100%{opacity: 1;
        transform: rotate(360deg);-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);}
}
.swiper-slide2{background: url(img/p2bg.png)no-repeat center bottom;background-size: 100% 100%;}
.swiper-slide3{background: url(img/p3bg.jpg)no-repeat center bottom;background-size: 100% 100%;}
.swiper-slide4{background: url(img/p4bg.jpg)no-repeat center bottom;background-size: 100% 100%;}
.swiper-slide5{background: url(img/p5bg.jpg)no-repeat center bottom;background-size: 100% 100%;}
.swiper-slide6{background: url(img/p6bg.jpg)no-repeat center bottom;background-size: 100% 100%;}
.swiper-slide7{background: url(img/p7bg.jpg)no-repeat center bottom;background-size: 100% 100%;}
.swiper-slide8{background: url(img/p8bg.jpg)no-repeat center bottom;background-size: 100% 100%;}
.swiper-slide9{background: url(img/p9bg.jpg)no-repeat center bottom;background-size: 100% 100%;}
.godown{animation: godown 1.5s 1s linear infinite;-webkit-animation: godown 1.5s 1s linear infinite;}
@-moz-keyframes godown{
    0%  {
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 0;
    }
   100% {
        -moz-transform: translateY(12px);
        -ms-transform: translateY(12px);
        -webkit-transform: translateY(12px);
        transform: translateY(12px);
        opacity: 0.5;
    }
}
@-webkit-keyframes godown{
    0%  {
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 0;
    }
   100% {
        -moz-transform: translateY(12px);
        -ms-transform: translateY(12px);
        -webkit-transform: translateY(12px);
        transform: translateY(12px);
        opacity: 0.5;
    }
}
@keyframes godown{
    0%  {
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 0;
    }
   100% {
        -moz-transform: translateY(12px);
        -ms-transform: translateY(12px);
        -webkit-transform: translateY(12px);
        transform: translateY(12px);
        opacity: 0.5;
    }
}