*{margin:0;padding:0;}
html,body{height:100%;width: 100%;background: #3c96e9;font-family: "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1"}
.swiper-container {width: 100%;height: 100%;background: #3c96e9 url(img/bg.jpg) no-repeat center center;background-size: 100% 100%;}
.swiper-slide{width: 100%;height: 100%;}
.ani{position:absolute;top: 0;left: 0px;width:100%;z-index: 3;}
.anibottom{top: auto;bottom:0;left: 0px;width:100%;position: absolute;z-index: 3;}
img{display:block;}
.rotate{animation: rotate 2.5s 0.5s linear infinite;-webkit-animation: rotate 5s 0.5s linear infinite;}
.rotateN{animation: rotate 6s 1.5s linear infinite;-webkit-animation: rotate 6s 1.5s linear infinite;}
@keyframes rotate{
    0%{opacity: 1;}
    100%{transform: rotate(360deg);-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);opacity: 1;}
}
@-webkit-keyframes rotate{
     0%{opacity: 1;}
    100%{transform: rotate(360deg);-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);opacity: 1;}
}
.rotatenn{animation: rotatenn linear infinite;-webkit-animation: rotatenn linear infinite;}
@keyframes rotatenn{
    0%{opacity: 0;}
    100%{transform: rotate(360deg);-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);}
}
@-webkit-keyframes rotatenn{
    0%{opacity: 0;}
    100%{opacity: 1;
        transform: rotate(360deg);-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);}
}
.swiper-button-next{background: none;right: 0;height: auto;margin-top: 0;width: 100%;}
.swiper-slide2 .swiper-button-next{display: none;}
/*p0*/
.p0_2{width: 26.2%;top: 20.5%;left: 11.6%;}
@-webkit-keyframes slideInDownP {
	0% {-webkit-transform:translateY(-100%) rotateZ(13deg);transform:translateY(-100%) rotateZ(13deg);opacity: 0;visibility:hidden}
100% {-webkit-transform:translateY(0) rotateZ(13deg);transform:translateY(0) rotateZ(13deg);opacity: 1;visibility:visible;animation–fill-mode:forwards;}
}
@keyframes slideInDownP {
	0% {-webkit-transform:translateY(-100%) rotateZ(13deg);-ms-transform:translateY(-100%) rotateZ(13deg);transform:translateY(-100%) rotateZ(13deg);opacity: 0;visibility:hidden}
100% {-webkit-transform:translateY(0) rotateZ(13deg);-ms-transform:translateY(0) rotateZ(13deg);transform:translateY(0) rotateZ(13deg);opacity: 1;visibility:visible;animation–fill-mode:forwards;}
}
.slideInDownP{
	-webkit-animation-name:slideInDownP;animation-name:slideInDownP
}

.rotateNW{animation: rotateNW 1.5s 1s ease-in-out forwards;}
@keyframes rotateNW{
	0%{-webkit-transform:rotateZ(13deg);-ms-transform:rotateZ(13deg);}
	10%,30%,50%,70%,90% {
	-webkit-transform:rotateZ(-8deg);
	transform:rotateZ(-8deg);opacity: 1;
	}
	20%,40%,60%,80% {
		-webkit-transform:rotateZ(7deg);
		transform:rotateZ(7deg);opacity: 1;
	}
	100%{-webkit-transform:rotateZ(0deg);-ms-transform:rotateZ(0deg);transform: rotateZ(0deg);opacity: 1;}
}
.p0_3{top: 21%;}
/*p1*/
.dt{width: 100%;position: absolute;width: 74.8%;left: 12.6%;top: 23%;z-index: 6;}
.dt p{    line-height: 1.8em;margin-bottom: 1rem;font-size: 1.2em;}
ul,ul li{list-style: none;}
ul li{height: 2.5rem;border: solid 2px #248ae8;border-radius: 20px;position: relative;font-size: 1.1em;}
li span{background: #248ae8;border-radius: 50%;color: #fff;display: inline-block;width: 1.8em;height:1.8em;line-height: 1.8em;text-align: center;
	font-weight: bold;font-size: 1.2rem;margin-top: 0.13em;    margin-left: 0.12em;margin-right: 1em;}
ul li+li{margin-top: 1.3rem;}
.bgcolor{background: #f43e3e url(img/wrong.png) no-repeat 95% center;width: 102.5%;height: 102%;position: absolute;z-index: -1;top: -1%;left: -1.2%;
	border-radius: 20px;background-size: 10% 55%;display: none;}
.right .bgcolor{background: #248ae8 url(img/right.png) no-repeat 95% center;background-size: 10% 55%;}
.colorChange{color: #ffffff;border: solid 2px #f43e3e;}
.colorChange span{background: none;}
.right{border: solid 2px #248ae8;}

/*p3*/
#page3 ul li{font-size:1em;}#page3 li span{margin-right: 0.3em;}
#page9 .dt p,#page10 .dt p{line-height: 1.3em;}
/*p11*/
.paiming{top: 40%;position: absolute;z-index: 4;left: 0;text-align: center;width: 100%;}
.paiming p{text-shadow: #242424 0.1em 0.1em 0.2em;    color: #fff;font-size: 1.2em;line-height: 1.8em;}
.paiming p span{color: #fff255;font-size: 2em;}
.fxpage{width: 100%;height: 100%;background: rgba(0,0,0,0.75);position: absolute;display: none;}
.p11_3{display: none;}

#page9 .dt p,#page10 .dt p{font-size:1em;}
#page9 ul li span{margin-right: 0em;}
