* {margin: 0; padding: 0; }
body {margin: 0; padding: 0; }
html {margin: 0; padding: 0; }
ul {margin: 0;padding: 0; }
li {margin: 0;padding: 0;list-style: none; }
p, h1, h2, h3 {margin: 0;padding: 0; }
form {margin: 0; padding: 0; }
html, body {position: relative; height: 100%;}
.swiper-container {width: 100%; height: 100%;}
.anim {
   transition: all .5s ease-in-out;
   -webkit-transition: all .5s ease-in-out;
   -ms-transition: all .5s ease-in-out;
   -moz-transition: all .5s ease-in-out;
   -o-transition: all .5s ease-in-out;
}

.zindex { position: absolute;  width: 100%;  height: 100%;  background-color: rgba(113, 113, 113, 0.78);  z-index: 999; display: none;}
.zindex .index { width: 100%;  height: auto;  overflow: hidden;  position: absolute;  top: 50%;  
  left: 50%;  transform: translate(-50%, -50%);  -webkit-transform: translate(-50%, -50%);  
  text-align: center; color: white; font-weight: 1000; font-size: 8vw;}

.swiper-slide{ position: relative; background: url(../images/bg.jpg) no-repeat; background-size: cover;}
.swiper-slide img{ width: 100%; }

.homePage{ background: url(../images/home.jpg)no-repeat; background-size:cover;}
.homePage img{ position: absolute; left: 0; top:0;}

#msgPage,.questionPage{ background: url(../images/msgBg.jpg)no-repeat; background-size: cover; position: relative;}
#msgPage form{ text-align: center; }
#msgPage input{ border: none; outline: none; background: rgba(255, 0, 0, 0); font-size: 22px; 
  width: 68%;color: #be1708; height: 29px; line-height: 29px;}
#msgPage label{ color: #be1708; font-size: 22px;}
.box{ width: 80%; margin: 0 auto; border: 1px solid #be1708; height: 39px; line-height: 39px;margin-bottom: 30px;}
.nameBox{ margin-top: 95px; }
select{ border: none; outline: none; font-size: 22px; color: #be1708; width: 68%; -webkit-appearance: none;}

.score{ width: 80%; margin: 0 auto; color: #be1708; font-size:22px; text-align: left; padding-left: 20px;}
.score b{ font-size: 40px; margin-left: 40px;}

#msgPage #submit{ width: 80%; margin: 0 auto; text-align: center; background:#d31615; color: white; 
  height: 40px; line-height: 40px; margin-top: 30px; -webkit-appearance: none; border-radius: 0;}

.scorePage{background: url(../images/score_bg.jpg)no-repeat; background-size: cover; position: relative;}
.scorePage #score{color: white; font-size: 70px; position: absolute; left: 22%; top: 27%;}

.Qbox{width: 90%; margin: 0 auto; color: #be1708; font-size: 5vw; margin-top: 25%; text-align: center;}
.Qcontainer{margin-bottom: 30px; text-align: left;}
.Qcontainer>div{overflow: hidden;}
p.num{float: left; font-size: 6vw;}
p.Q{float: left; width: 77%; margin: 0 0 0 10px; }

#Qform{padding-left: 30px; font-size: 20px; font-weight: 400; margin-top: 15px;}
#Qform input{margin-bottom: 15px; margin-right: 10px; font-size: 4.5vw;}

.prevQ, .nextQ{
  width: 136px; height: 35px;
  background:#d31615; line-height: 35px;
  text-align: center; color: white;
  display: inline-block; font-size: 20px; margin-bottom: 5px;
}

input[type="radio"]{
  display:inline-block;  
  vertical-align: middle;
  height:37px;
  width:38px;
  -webkit-appearance : none;
  background-color: transparent;
  background:url(../images/raido.png) 0 -37px no-repeat; 
  border: 0;
  outline: 0;
  background-size: 100%; 
  float: left;
}
input[type="radio"]:checked{
  background:url(../images/raido.png) 0 0 no-repeat; 
  height:37px;
  width:38px; 
  display:inline-block;  
  background-size: 100%; 
  float: left;
}


/*.radio_off{background:url(../images/raido.png) 0 -37px no-repeat; 
  height:37px;width:38px; display:inline-block;  background-size: 100%; float: left;}

.radio_on{background:url(../images/raido.png) 0 0 no-repeat; 
  height:37px;width:38px; display:inline-block; background-size: 100%; float: left;}
*/
#Qform label{ margin-left: 10px; }
#Qform>div{
  overflow: hidden;
  line-height: 37px;
}

#submit2{ width: 80%; margin: 0 auto; text-align: center; background:#d31615; color: white; 
  height: 40px; line-height: 40px; margin-top: 30px; -webkit-appearance: none; border-radius: 0;
  display: inline-block; font-size: 20px;
}
.toLastPage{ text-align: center; }