* {margin: 0; padding: 0; }
body {margin: 0; padding: 0; }
html {margin: 0; padding: 0; }
ul {margin: 0;padding: 0; }
li {margin: 0;padding: 0;list-style: none; }
p, h1, h2, h3 {margin: 0;padding: 0; }
form {margin: 0; padding: 0; }
html, body {position: relative; height: 100%;}
.swiper-container {width: 100%; height: 100%;}
.anim {
   transition: all .5s ease-in-out;
   -webkit-transition: all .5s ease-in-out;
   -ms-transition: all .5s ease-in-out;
   -moz-transition: all .5s ease-in-out;
   -o-transition: all .5s ease-in-out;
}

.zindex {  position: absolute;  width: 100%;  height: 100%;  background-color: white;  z-index: 999;}
.zindex .index {  width: 100%;  height: auto;  overflow: hidden;  position: absolute;  top: 50%;  left: 50%;  transform: translate(-50%, -50%);  -webkit-transform: translate(-50%, -50%);  text-align: center;}
.zindex .index .logo {  width: 100%;}
.zindex .index .logo img {  width: 50%;}
.zindex .index .loadimg {  width: 100%;  height: 100%;  position: absolute;  left: 0;  top: 0;  z-index: 1;}
.zindex .index .loading {  text-align: center;  line-height: 158px;  width: 100%;  height: 100%;  color: black;  font-weight: bold;  position: absolute;  left: 0;  top: 0;  z-index: 2;}
.zindex .index .load {  width: 158px;  height: 158px;  margin: 0 auto; /* margin-top: 30px;*/  position: relative;}


.swiper-slide{ 
  position: relative; 
  background-size: cover;
}

.swiper-slide>img{ width: 100%; }

.home{
  background: #3c81f2;
}

.item_box{
  margin-top: 50px;
}
.item_box{
  position: relative;
  height: 225px;
}
.item_box>img{
  position: absolute;
}
.home_item1{
  width: 100%;
}

.sun{
  width: 38%;
  left: 0;
  top: 0;
}

.cloud{
  width: 10%;
  right: 10%;
  top: 25%;
}
.cloud2{
  width: 11%;
  right: 28%;
  top: 15%;
}
.cloud3{
  width: 15%;
  right: 48%;
  top: 28%;
}

.home_item2{
  position: absolute;
  bottom: 8%;
}

.swiper-slide-active .cloud{
  animation: cloud 15s infinite linear;
}
.swiper-slide-active .cloud2{
  animation: cloud2 15s infinite linear;
}
.swiper-slide-active .cloud3{
  animation: cloud3 10s infinite linear;
}

@keyframes cloud {
  0% { right: 10%; }
  100% { right: 100%; }
}
@keyframes cloud2 {
  0% { right: 28%; }
  100% { right: 100%; }
}
@keyframes cloud3 {
  0% { right: 48%; }
  100% { right: 100%; }
}


/*------------page1-----------------*/

.p1_box1{
  padding: 0 10px;
  margin-top: 35px;
}
.p1_box1 b{
  font-size: 22px;
}
.p1_box1 span{
  font-size: 14px;
}
.red_div{
  display: inline-block;
  width: 138px;
  height: 16px;
  background: #e83333;
}

.swiper-slide-active .red_div{
  animation: addWidth 1s ;
}
.swiper-slide-active .yellow_div{
  animation: addWidth2 1s;
}
@keyframes addWidth{
  0% { width: 0 }
  100% { width: 138px }
}
@keyframes addWidth2{
  0% { width: 0 }
  100% { width: 28px }
}

.p1_item1 b{
  color: #e83333;
}
.yellow_div{
  display: inline-block;
  width: 28px;
  height: 16px;
  background: #feae30;
}
.p1_item2 b{
  color: #feae30;
}


/*------------------page2---------------------*/

.p2_box{
  position: relative;
  margin-top: 50px;
}
.p2_box img{
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

@keyframes p2_top{
  0% { height: 0; opacity: 0}
  100% { height: 70px; opacity: 1}
}

.p2_top{
  height: 70px;
  background: url(../images/p2_img1.jpg)no-repeat 0 0;
  background-size: 100%;
  text-align: center;
  line-height: 45px;
  opacity: 0;
}
.swiper-slide-active .p2_top {
  animation: p2_top 1s forwards;
}
.p2_top span{
  color:#fff;
  padding: 3px 12px;
  border:1px solid #fff;
  border-radius: 8px;
  font-size: 12px;
}

.p2_img2{
  margin-top: 70px;
}

.p2_img3{
  position: absolute;
  bottom: 0;
  left: 0;
}

.p2_des{
  position: absolute;
  bottom: 10%;
  color: #fff;
  padding: 0 15px 0 20px;
  text-indent: 2em;
}

.water_box { height: 271px; position: relative; overflow: hidden;}
.water_mask { height: 271px;
  background: url('../images/p2_img2.jpg') no-repeat 0 0;
  background-size: 100%;
  position: absolute;
  top: 0;left: 0; width: 100%;
}
.swiper-slide-active .water_mask {
  animation: waterShow 2s 1s linear forwards
}

@keyframes waterShow {
  0% { height: 271px; }
  100% { height:  0; }
}

/*------------------page3---------------------*/

.icon{
  display: inline-block;
  background: #f2901c;
  color: #fff;
  border-radius: 10px;
  width: 48px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  font-size: 12px;
  margin-left: 12px;
  opacity: 0;
}

.swiper-slide-active .icon1 {
  animation: icon .5s  linear;
  animation-fill-mode: forwards;
}
.swiper-slide-active .icon2 {
  animation: icon .5s 2.5s linear;
  animation-fill-mode: forwards;
}

.swiper-slide-active .beijing{
  animation: width 1.5s .5s;
  animation-fill-mode: forwards;
}
.swiper-slide-active .tianjin{
  animation: width 1.5s 1s;
  animation-fill-mode: forwards;
}
.swiper-slide-active .henan{
  animation: width 1.5s 1.5s;
  animation-fill-mode: forwards;
}
.swiper-slide-active .hebei{
  animation: width 1.5s 2s;
  animation-fill-mode: forwards;
}
.swiper-slide-active .shandong{
  animation: width 1.5s 3s;
  animation-fill-mode: forwards;
}


.swiper-slide-active .jiangsu{
  animation: width 1.5s 4s;
  animation-fill-mode: forwards;
}

@keyframes width {
  0% { width: 0; }
  100% { width: 100%; }
}

@keyframes icon {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


.p3_box>div{
  position: relative;
  width: 0;
  height: 30px;
  overflow: hidden;
}
.jiangsu{
  height: 50px !important;
  margin-top: 10px;
}
.p3_box img{ 
  position: absolute;
  left: 0;
  top: 0;
  width: 360px !important;
}
.beijing{
  margin-top: 15px;
}

.tuli{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
/*.beijing{ margin-top: 18px;}
.beijing img{ width: 46%; }
.tianjin img{ width: 42%; }
.henan img{ width: 60%; }
.hebei img{ width: 44%; }
.shandong img{ width: 99%; }
.jiangsu img{width: 100%;}*/
.hebei{
  margin-bottom: 3% !important;
}
.shandong{ margin-top: 11px !important; }



/*------------------page5---------------------*/

.page5 span{
  padding: 3px 50px;
}

.p5_box{
  position: relative;
  margin-top: 20px;
}
.p5_box img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.paopao {
  opacity: 0;
}
.swiper-slide-active .paopao1 {
  animation: paopao 3s 1s infinite;
}
.swiper-slide-active .paopao2 {
  animation: paopao 3s 2s infinite;
}
@keyframes paopao {
  0% { opacity: 0 }
  50% { opacity: 1 }
  100% { opacity: 0 }
}
/*------------------page5---------------------*/






/*------------------page6---------------------*/
.p6_header{
  height: 108px;
  background: #3393ff;
}

.map_box .active span{
  display: block;
  font-size: 18px;
}
.bj.active .map{
  background: url(../images/bj-bg-hover.jpg);
  background-size: 100%;
}

.hn.active .map{
  background: url(../images/hn_bg_hover.jpg);
  background-size: 100%;
}
.hb.active .map{
  background: url(../images/hb_bg_hover.jpg);
  background-size: 100%;
}

.map_box{
  margin-top: -80px;
}
.map_box span{
  display: inline-block;
  font-size: 12px;
  color: #fff;
}

.map_box ul{
  overflow: hidden;
  width: 87%;
  margin: 0 auto;
  display: flex;
}
.map_box li{
  float: left;
  width: 33.3%;
  align-self: flex-end;
}
.map_box li .map{
  border-right: 1px solid #ccc;
}

.map_box li:last-child .map {
  border:none;
}


.map{
  display: block !important;
  height: 64px;
}
.bj .map{
  background: url(../images/bg_bg.jpg);
  background-size: 100%;
}
.hn .map{
  background: url(../images/hn_bg.jpg);
  background-size: 100%;
}
.hb .map{
  background: url(../images/hb_bg.jpg);
  background-size: 100%;
}


.page6 .bj img{
  margin-top: 60px;
}

.page6 .hb p{
  text-align: left;
  text-indent: 2em;
  width: 85%;
  margin: 0 auto;
}

div.bj{
  margin-top: 30px;
}
.page6 .text_box p{
  text-align: center;
  font-size: 15px;
  text-indent: 2em;
}
.text_box img{
  width: 100%;
}

.text_box>div{
  display: none;
}

.hn_img{
  position: relative;
  margin-top: 50px;
}
.hn_img img{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
}

.hbimg{
  margin-top: 50px;
}




.page7 .p6_header{
  color: #fff;
  font-size: 15px;
}

.page7 .p6_header p{
  width: 85%;
  margin: 0 auto;
  padding-top: 12px;
}

.p7_box{
  margin-top: 25px;
  margin-bottom: 30px;
  position: relative;
  height: 214px;
}

.p7_box img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.swiper-slide-active .jiantou {
  animation: jiantou 1s 2s infinite linear;
}

.swiper-slide-active .p7_img1{
  opacity: 0;
  animation: show 1s 1s linear forwards;
}
.swiper-slide-active .p7_tianjin{
  opacity: 0;
  animation: show 1s 2s linear forwards;
}
.swiper-slide-active .p7_henan {
  opacity: 0;
  animation: show 1s 3s linear forwards;
}

@keyframes jiantou {
  0% { top: 5%; }
  100% { top: 0; }
}
@keyframes show{
  0% { opacity: 0;}
  100% { opacity: 1; }
}


.p7_tianjin ,.p7_henan{
  float: left;
  width: 50% !important;
}



.last_page, .page7 .text_box{
  position: absolute;
  top: 0;
  left: 0;
}
.text_box{
  width: 100%;
  margin-top: 30px;
  position: absolute;
}
.page8{
  position: relative;
  background: #133652;
  text-align: center;
}

.page8 p{
  color: #fff;
  font-weight: bold;
  margin: 7px 0;
  font-size: 19px;
}

.line{
  display: inline-block;
  height: 4px;
  width: 29px;
  background: #fff;
}


.p8_box{
  position: relative;
  height: 600px;
  margin-top: -5px;
}
.p8_box img{ width: 100%; position: absolute; top: 0; left: 0;}

.road_mask{
  position: absolute;
  top: 0;
  left: 0;
  background: #138cff;
  width: 100%;
  height: 500px;
}

.swiper-slide-active .road_mask{
  animation:maskHide 1.5s linear forwards;
  -webkit-animation:maskHide 1.5s linear forwards;
}
@keyframes maskHide {
  0% { height: 500px; }
  100% { height: 0; }
}

.erweima{
  position: absolute;
  top: 10px;
  left: 20px;
  width: 62px;
  height: 88px;
}
.erweima img{
  width: 100%;
}

.page8>img{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}


.down{ 
  width: 29px !important; height: 29px;
  transform: translateX(-50%);
  position: absolute;
  bottom: 5px;
  left: 50%;
  animation: paopao 2s infinite;
}

.resize{ position: fixed; right: 3%; top: 3%; width: 40px !important; z-index: 9; opacity: 1; }

.rotate{animation: rotate 2.5s 0.5s linear infinite;-webkit-animation: rotate 5s 0.5s linear infinite;}
@keyframes rotate{
    0%{opacity: 1;}
    100%{transform: rotate(360deg);-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);opacity: 1;}
}
@-webkit-keyframes rotate{
     0%{opacity: 1;}
    100%{transform: rotate(360deg);-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);opacity: 1;}
}
