html {
    height: 100%;
    font-family: "FangSong";
    font-weight: lighter;
    display: block;

}

body {
    max-width: 579.75px;
    width: 100%;
    height: 100%;
    margin: 0 auto;

}

.section {
    background-size: 100% 100%;
    position: relative;
    overflow: hidden;
    background-image: url(../img/bg1.jpg);

}

.cover,.second {
    background-size: 100% 100%;
    position: relative;
    overflow: hidden;
    background-image: url(../img/bg.jpg);

}

.clearfix:before, .clearfix:after {
    content: "";
    display: table
}

.clearfix:after {
    clear: both
}

.clearfix {
    *zoom: 1
}

.section img {
    position: absolute
}

._music {
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000
}


.current .yaos {
    -webkit-animation-name: yaos;
    animation-name: yaos;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes yaos {
    from {
        opacity: 0;

    }
    to {
        opacity: 1;

    }
}

@keyframes yaos {
    from {
        opacity: 0;

    }
    to {
        opacity: 1;

    }
}
.xuanz {

    -webkit-animation-name: xuanz;
    animation-name: xuanz;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode:forwards;
}
@-webkit-keyframes xuanz {
    from {
        -moz-transform: rotateX(0deg)  ;
        -moz-transform-origin:0 0px ;
        -webkit-transform: rotateX(0deg)  ;
        -webkit-transform-origin: 0 0px ;
        -o-transform: rotateX(0deg)   ;
        -o-transform-origin: 0 0px ;
        transform: rotateX(0deg)  ;
        transform-origin:0 0px ;

    }
    to {
        -moz-transform: rotateX(90deg)  ;
        -moz-transform-origin:0 0px  ;
        -webkit-transform: rotateX(90deg)  ;
        -webkit-transform-origin: 0 0px  ;
        -o-transform: rotateX(90deg)   ;
        -o-transform-origin: 0 0px ;
        transform: rotateX(90deg)  ;
        transform-origin:0 0px ;

    }
}

@keyframes xuanz {
    from {
        -moz-transform: rotateX(0deg)  ;
        -moz-transform-origin:0 0px ;
        -webkit-transform: rotateX(0deg)  ;
        -webkit-transform-origin: 0 0px ;
        -o-transform: rotateX(0deg)   ;
        -o-transform-origin: 0 0px ;
        transform: rotateX(0deg)  ;
        transform-origin:0 0px ;

    }
    to {
        -moz-transform: rotateX(90deg)  ;
        -moz-transform-origin:0 0px  ;
        -webkit-transform: rotateX(90deg)  ;
        -webkit-transform-origin: 0 0px  ;
        -o-transform: rotateX(90deg)   ;
        -o-transform-origin: 0 0px ;
        transform: rotateX(90deg)  ;
        transform-origin:0 0px ;

    }
}

.xfg1{
    -webkit-animation-name: xfg1;
    animation-name: xfg1;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode:forwards;

}
@-webkit-keyframes xfg1 {
   0% {
        -moz-transform: rotateX(90deg)  ;
        -moz-transform-origin:0 0px  ;
        -webkit-transform: rotateX(90deg)  ;
        -webkit-transform-origin: 0 0px  ;
        -o-transform: rotateX(90deg)   ;
        -o-transform-origin: 0 0px ;
        transform: rotateX(90deg)  ;
        transform-origin:0 0px ;


    }

    100% {
        -moz-transform: rotateX(180deg)  ;
        -moz-transform-origin:0 0px;
        -webkit-transform: rotateX(180deg)  ;
        -webkit-transform-origin: 0 0px ;
        -o-transform: rotateX(180deg)   ;
        -o-transform-origin: 0 0px;
        transform: rotateX(180deg)  ;
        transform-origin:0 0px;

    }
}

@keyframes xfg1 {
    0% {
        -moz-transform: rotateX(90deg)  ;
        -moz-transform-origin:0 0px  ;
        -webkit-transform: rotateX(90deg)  ;
        -webkit-transform-origin: 0 0px  ;
        -o-transform: rotateX(90deg)   ;
        -o-transform-origin: 0 0px ;
        transform: rotateX(90deg)  ;
        transform-origin:0 0px ;


    }

    100% {
        -moz-transform: rotateX(180deg)  ;
        -moz-transform-origin:0 0px;
        -webkit-transform: rotateX(180deg)  ;
        -webkit-transform-origin: 0 0px ;
        -o-transform: rotateX(180deg)   ;
        -o-transform-origin: 0 0px;
        transform: rotateX(180deg)  ;
        transform-origin:0 0px;

    }
}


.fadeInDown1 {
    -webkit-animation-name: fadeInDown1;
    animation-name: fadeInDown1
}
@-webkit-keyframes fadeInDown1 {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -3%, 0);
        transform: translate3d(0, -3%, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInDown1 {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -3%, 0);
        transform: translate3d(0, -3%, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

.wrap img {

    display: none;
}