*{margin:0;padding:0;}
html,body{height:100%;width: 100%;background: transparent;font-family: "黑体";}

#loadpage{position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: #000;}
.loadtext{width: 100%;position: absolute;top: 40%;left: 0%;color: #fff;width: 100%;z-index: 2;text-align: center;}

.swiper-container {width: 100%;height: 100%;background-size: 100% 100%;color: #fff;background: #000;display: none;}
.swiper-container-vertical>.swiper-wrapper{background: #000;}
img{display:block;}.ani{position:absolute;}
.rotate{animation: rotate 2.5s 0.5s linear infinite;-webkit-animation: rotate 5s 0.5s linear infinite;}
@keyframes rotate{
    100%{transform: rotate(360deg);-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);opacity: 1;}
}
@-webkit-keyframes rotate{
    100%{transform: rotate(360deg);-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);opacity: 1;}
}
.rotateChange{animation: rotateChange linear infinite;-webkit-animation: rotateChange linear infinite;}
@keyframes rotateChange{
    0%{}
    100%{transform: rotate(-360deg);-webkit-transform: rotate(-360deg);-moz-transform: rotate(-360deg);}
}
@-webkit-keyframes rotateChange{
    0%{}
    100%{opacity: 1;transform: rotate(-360deg);-webkit-transform: rotate(-360deg);-moz-transform: rotate(-360deg);}
}
.swiper-slide{background: #000 url(img/bigbg-min.png)no-repeat center top;background-size: 100% 100%;}
/*每屏向下滑动按钮*/
.godown{-webkit-animation-name:godown;animation-name:godown;
    animation-timing-function: linear;-webkit-animation-timing-function: linear;animation-iteration-count:infinite;-webkit-animation-iteration-count:infinite;}
@-moz-keyframes godown{
    0%  {-moz-transform: translateX(0);-ms-transform: translateX(0);-webkit-transform: translateX(0);transform: translateX(0);opacity: 0;}
   100% {-moz-transform: translateY(-12px);-ms-transform: translateY(-12px);-webkit-transform: translateY(-12px);transform: translateY(-12px);opacity: 0.5;}
}
@-webkit-keyframes godown{
    0%  {-moz-transform: translateX(0);-ms-transform: translateX(0);-webkit-transform: translateX(0);transform: translateX(0);opacity: 0;}
   100% {-moz-transform: translateY(-12px);-ms-transform: translateY(-12px);-webkit-transform: translateY(-12px); transform: translateY(-12px);opacity: 0.5;}
}
@keyframes godown{
    0%  { -moz-transform: translateX(0);-ms-transform: translateX(0);-webkit-transform: translateX(0);transform: translateX(0);opacity: 0;}
   100% {-moz-transform: translateY(-12px);-ms-transform: translateY(-12px);-webkit-transform: translateY(-12px);transform: translateY(-12px);opacity: 0.5;}
}
.scale3dbig{animation: scalebig 1s 0.8s ease-in forwards;-webkit-animation: scalebig 1s 0.8s ease-in forwards;}
@keyframes scalebig{
    0%{transform: scale3d(10,10,10);}
    100%{transform: scale3d(1,1,1);}
}
/*page1*/
   #mycontent{
        color: #fff;font-family: "黑体";font-weight: bold;line-height: 110%;font-size: 3.3em;position: absolute;text-align: center;width: 100%;z-index: 10;top: 8%;    left: 0;
    }
    #mycontent span{color: #fff;animation:shanshuo 0.3s infinite;}
    @keyframes shanshuo{
       0%{opacity: 0;}100%{opacity: 1;}
    }
    @-webkit-keyframes shanshuo{
         0%{opacity: 0;}100%{opacity: 1;}
    }
    @-moz-keyframes shanshuo{
         0%{opacity: 0;}100%{opacity: 1;}
    }
/*page2*/
.shaky{animation: shaky 1.5s 0s  linear infinite;-webkit-animation: shaky 1.5s 0s  linear infinite;}
@-webkit-keyframes shaky {
    0%,100% {-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
10%,30%,50%,70%,90% {-webkit-transform:translate3d(-1px,0,0);transform:translate3d(-1px,0,0)}
20%,40%,60%,80% {-webkit-transform:translate3d(1px,0,0);transform:translate3d(1px,0,0)}
}@keyframes shaky {
    0%,100% {-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)
}
10%,30%,50%,70%,90% {
    -webkit-transform:translate3d(-1px,0,0);-ms-transform:translate3d(-1px,0,0); transform:translate3d(-1px,0,0)
}
20%,40%,60%,80% {
    -webkit-transform:translate3d(1px,0,0);-ms-transform:translate3d(1px,0,0);transform:translate3d(1px,0,0)
}
}
.skewX{animation: skewX 2s 0s  linear infinite;-webkit-animation: skewX 2s 0s  linear infinite;}
@-webkit-keyframes skewX {
     0%,100% {transform:skewX(0deg);}
    10%,30%,50%,70%,90% {transform:skewX(5deg);}
    20%,40%,60%,80% {transform:skewX(-5deg);}
}
@keyframes skewX {
     0%,100% {transform:skewX(0deg);}
    10%,30%,50%,70%,90% {transform:skewX(5deg);}
    20%,40%,60%,80% {transform:skewX(-5deg);}
}

.gz{position: absolute;width: 100%;height: 0;top: 107px;overflow: hidden;}
.gzimg{overflow: hidden;}
.scaleChange{animation: scaleChange 1.2s 1s  linear infinite;-webkit-animation: scaleChange 1.2s 1s  linear infinite;}
@-webkit-keyframes scaleChange {
    0%,100%,20%,40%,60%,80% {-webkit-transition-timing-function:cubic-bezier(0.4,.61,.355,1);transition-timing-function:cubic-bezier(0.4,.61,.355,1)}
0% {
    opacity:1;-webkit-transform:scale3d(.9,.9,.9);transform:scale3d(.9,.9,.9)
}
20% {-webkit-transform:scale3d(1.05,1.05,1.05);transform:scale3d(1.05,1.05,1.05)}
40% {-webkit-transform:scale3d(.9,.9,.9);transform:scale3d(.9,.9,.9)}
60% {opacity:1;-webkit-transform:scale3d(1.03,1.03,1.03);transform:scale3d(1.03,1.03,1.03)}
80% {-webkit-transform:scale3d(.97,.97,.97);transform:scale3d(.97,.97,.97)}
100% {opacity:1;-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}
}
@keyframes scaleChange {
    0%,100%,20%,40%,60%,80% {-webkit-transition-timing-function:cubic-bezier(0.4,.61,.355,1);transition-timing-function:cubic-bezier(0.4,.61,.355,1)}
0% {
    opacity:1;-webkit-transform:scale3d(.9,.9,.9);-ms-transform:scale3d(.9,.9,.9);transform:scale3d(.9,.9,.9)
}
20% {opacity:1;-webkit-transform:scale3d(1.05,1.05,1.05);-ms-transform:scale3d(1.05,1.05,1.05);transform:scale3d(1.05,1.05,1.05)}
40% {opacity:1;-webkit-transform:scale3d(.9,.9,.9);-ms-transform:scale3d(.9,.9,.9);transform:scale3d(.9,.9,.9)}
60% {
    opacity:1;-webkit-transform:scale3d(1.03,1.03,1.03);-ms-transform:scale3d(1.03,1.03,1.03);transform:scale3d(1.03,1.03,1.03)
}
80% {
    -webkit-transform:scale3d(.97,.97,.97);-ms-transform:scale3d(.97,.97,.97);transform:scale3d(.97,.97,.97)
}
    100% {
        opacity:1;-webkit-transform:scale3d(1,1,1);-ms-transform:scale3d(1,1,1);transform:scale3d(1,1,1)
    }
}
.topChange{animation: topChange 2.3s 0s  linear infinite;-webkit-animation: topChange 2.3s 0s  linear infinite;}
@keyframes topChange{
        0%{top: 0;opacity: 1;}100%{top:100%;opacity: 1;}
}
@-webkit-keyframes topChange{
    0%{top: 0;opacity: 1;}100%{top: 100%;opacity: 1;}
}
.bottomChange{animation: bottomChange 2.3s 0s  linear infinite;-webkit-animation: bottomChange 2.3s 0s  linear infinite;}
@keyframes bottomChange{
        0%{bottom: 0;opacity: 1;}100%{bottom:100%;opacity: 1;}
}
@-webkit-keyframes bottomChange{
    0%{bottom: 0;opacity: 1;}100%{bottom: 100%;opacity: 1;}
}
/*page3*/
.small_img{width: 90%;height: 100%;margin:0 auto;margin-top: 62px;overflow: hidden;border: solid 3px #00dae5;border-radius: 5px;position: relative;}
.options_list{width: 100%;height: 220px;margin-bottom: 10%;}
.options_list li{display: inline-block;float: left;width: 50%;    height: 110px;position: relative;}
.options_list li.list1{background: url(img/li0bg.png) no-repeat center center;background-size: 100% 100%;width: 47.6%;text-align: center;}
.options_list li.list2{background: url(img/li1bg.png) no-repeat center center;background-size: 100% 100%;width: 52.4%;text-align: center;}
.options_list li.list3{background: url(img/li2bg.png) no-repeat center center;background-size: 100% 100%;width: 47.6%;text-align: center;}
.options_list li.list4{background: url(img/li3bg.png) no-repeat center center;background-size: 100% 100%;width: 52.4%;text-align: center;}

.circle{width: 22%;left: 0.2%;top: 12%;display: none;}
.options_list li.list1 .circle{top: 12%;}
.options_list li.list2 .circle{left: 3.7%;top: 10.2%;}
.options_list li.list3 .circle{top: 12%;}
.options_list li.list4 .circle{left: 3.7%;top: 10.2%;}
.options_list li .option_item{height: 100%;line-height: 100%;vertical-align: middle;position: absolute;top: 50%;padding-left:14%;}
.option_code{display: none;}
.option_item{width: 76%;margin: 0 auto;line-height: 1em;font-size: 0.9rem;}
.cir2{animation: rotateChange 2.5s 0.5s linear infinite;-webkit-animation: rotateChange 5s 0.5s linear infinite;}
.cir1{animation: rotate 2.5s 0.5s linear infinite;-webkit-animation: rotate 2.5s 0.5s linear infinite;}
.djck{position: absolute;top: 9%;text-indent: 59%;font-size: 0.9rem;display: none;height: 20px;line-height: 20px;color: #00e8e5;}
.option2 .djck{top: 17%;}

/*page4*/
.big_img{width: 67%;height: 100%;margin:0 auto;margin-top: 29px;overflow: hidden;    border: solid 3px #00dae5;border-radius: 5px;position: relative;}
.img_info{}
/*page5*/
.p5-0{animation: rotate 2.5s 0.5s linear infinite;-webkit-animation: rotate 5s 0.5s linear infinite;}
#shareMask{position: absolute; top: 0;width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .75);z-index: 10;display: none;}
#shareMask>img{width: 100%;position: absolute;top: 0;left: 0;}    
